<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar filial</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Endereço</ion-label>
    <ion-input [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" (ionClear)="ClearAutocomplete()" value="{{enderecoNew}}"></ion-input>
  </ion-item>
  <ion-list [hidden]="autocompleteItems.length == 0 || hide">
   <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
     {{ item.description }}
   </ion-item>
   </ion-list>
  <ion-item>
    <ion-label position="floating">Número</ion-label>
    <ion-input [(ngModel)]="unidadeNum"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Complemento</ion-label>
    <ion-input [(ngModel)]="unidadeComple"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Bairro</ion-label>
    <ion-input placeholder="{{unidadeBairro}}"value="{{unidadeBairro}}" [(ngModel)]="unidadeBairro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">CEP</ion-label>
    <ion-input [(ngModel)]="unidadeCEP"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cidade</ion-label>
    <ion-input [(ngModel)]="unidadeCidade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Estado</ion-label>
    <ion-input [(ngModel)]="unidadeEstado"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="salvar()">
    Salvar
  </ion-button>

</ion-content>
