
<ion-fab  vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="perfilPage()">
      <ion-icon style="color:#ffcb02 !important" name="person-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-content [fullscreen]="true">
<div class="background-div1">
    <img style="width:35%"src="/assets/Picture1.png">
</div>
  <ion-fab  vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" (click)="home()">
      <ion-icon style="color:#ffcb02 !important" name="home-outline">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="text-align: center;" *ngIf="valorre === 0">
        <p>Parece que você não tem pedidos...</p>
        <p>Começe a comprar agora!</p>
        <ion-button fill="solid" color="warning" (click)="lista()" slot="end">Comprar</ion-button>
    </div> 
<div class="background-traco" *ngIf=" valorre > 0 ">
  <h2 style="text-align: center; padding-top: 22px;">Seus Pedidos</h2>


    <ion-searchbar   animated style="margin-top:3.5% !important;" placeholder="Pesquise pela loja" (ionInput)="filterList($event)"></ion-searchbar>
  
  
    <ion-segment style="background: white;" scrollable (ionChange)="filterList2($event)" value="{{valorinicial}}">
    <ion-segment-button style="width: auto !important; min-width: 160px;" *ngFor="let items of categorias" value="{{items}}">
      <p value="{{items}}">{{items}}</p>
    </ion-segment-button>

  </ion-segment>  
  <ion-list style="background: transparent"  >


    <ion-card *ngFor="let items of goalListUs; let i = index" style="padding: 10px;
    box-shadow: 0.5px 0.5px 5px 5px #80808047; margin-bottom: 10%; background:white;">
      <h4 style="text-align: center;">{{items.nomeLoja}}</h4>
      <ion-item>
        <ion-label style="font-size: larger;
        font-weight: 400;
        color: black;"> {{items.statusEnt}}</ion-label>
        <p slot="end">Ped: {{items.nPedido}}</p>


      </ion-item>

      <ion-progress-bar *ngIf="items.statusEnt != 'Entregue' && items.statusEnt !='Cancelado'" color="warning" type="indeterminate"></ion-progress-bar>
        <p *ngIf="items.statusEnt != 'Entregue' && items.statusEnt !='Cancelado'" style="padding:10px;margin-bottom: 3%;
        color: black;">Normalmente as lojas demoram 30 minutos para responder😉</p>
      <div *ngIf="items.statusEnt === 'Entregue'">
        <ion-button fill="solid" expand="block" style="font-weight: 400;" *ngIf="!items.comentario"  color="warning" (click)="novoComment(items)">Como foi a sua compra?</ion-button>
      </div>
      <div *ngIf="items.statusEnt === 'Loja informada'" >
        <ion-button fill="solid" expand="block" style="font-weight: 400;"  (click)="save(items)" color="danger">Cancelar Compra</ion-button>
      </div>
      <div *ngIf="items.statusEnt != 'Entregue' && items.statusEnt !='Cancelado'">
        <ion-button fill="solid" expand="block" style="font-weight: 400;" color="success" (click)="novoChat(items)">Fale com a loja</ion-button>
      </div>
      <ion-button color="light" expand="block" [routerLink]="['/item-venda/' + items.id]">Mais informações</ion-button>
   
    </ion-card>

  </ion-list>
  
</div>

</ion-content>
