*{
    font-weight: 300;
}
.background-div1{
  background: linear-gradient(145deg, #ffcb0254 40%, #ffc409 100%);
  height: 100px;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
ion-badge {

  font-size: large;
  margin-top: 4%;
}
.sino{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  font-size: xx-large;
    margin-right: 5%;
    margin-left: 3%;
    margin-top: 3%;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}