*{
    font-weight: 300;
}
.background-div1{
    background: linear-gradient(45deg, #ffc409 40%, #ffc4097d 100%);
    height: 235px;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
ion-content{
  //--background: linear-gradient(rgb(255 255 255 / 92%), rgb(255 255 255)), url('../../assets/Picture1.png') no-repeat no-repeat center;

}