<ion-content [fullscreen]="true"  >
  <div class="background-div1">
      <ion-icon class="arrow" (click)="voltar()"name="arrow-back"></ion-icon>
  
        <img style="width:30%"src="/assets/Picture1.png">
  
  </div>
    <ion-card class="card-1">
        <ion-card-header > <h3 text style="margin:auto;">Edite: {{produto?.nome}}</h3></ion-card-header>
        <ion-slides style="border: 20px solid #ffcb02;
        border-radius: 25px;">
          <ion-slide *ngFor="let items of photos">
              <img  src="{{items.link}}">
              <ion-button color="danger" style="position: absolute;
              /* float: right; */
              bottom: 10px;" (click)="deletafoto(items)">X</ion-button>
          </ion-slide>
        </ion-slides>
        <p>Arraste para os lados</p>
        <p>Escolha as fotos do seu produto!</p>
        <p>Porcentagem de cada foto: {{uploadPercent | async}}% </p>
        
        <ion-button shape="outline" (click)="abrirGaleria1()" color="findme" ><ion-icon name="camera"></ion-icon>	</ion-button>
        <ion-button shape="outline" (click)="abrirGaleria2()" color="findme" ><ion-icon name="camera"></ion-icon>	</ion-button>
        <ion-button shape="outline" (click)="abrirGaleria3()" color="findme" ><ion-icon name="camera"></ion-icon></ion-button>
        <ion-button shape="outline" (click)="abrirGaleria4()" color="findme" ><ion-icon name="camera"></ion-icon>	</ion-button>
        <ion-card-content>
            <br/>
          <p>Escolha o tipo do produto:</p>
          <ion-select placeholder="{{produto?.tipoPrd}}" value="{{produto?.tipoPrd}}" style="border: 1px solid #d7d8da;
          padding: 13px;"  [(ngModel)]="type">
            <ion-select-option value="Alimentos">Alimentos</ion-select-option>
            <ion-select-option value="Animais">Animais</ion-select-option>
            <ion-select-option value="Bijuterias">Bijuterias</ion-select-option>
            <ion-select-option value="Bebidas">Bebidas</ion-select-option>
            <ion-select-option value="Defumacao/Incenso">Defumação / Incenso</ion-select-option>
            <ion-select-option value="Decoracao">Decoração</ion-select-option>					
            <ion-select-option value="Ervas">Ervas</ion-select-option>
            <ion-select-option value="Contas">Guia/contas</ion-select-option>
            <ion-select-option value="Imagens">Imagens</ion-select-option>
            <ion-select-option value="Instrumentos">Instrumentos musicais</ion-select-option>					
            <ion-select-option value="Livraria">Livraria</ion-select-option>
            <ion-select-option value="Outros">Outros</ion-select-option>
            <ion-select-option value="Pedras/Cristais">Pedras / Cristais</ion-select-option>
            <ion-select-option value="Cera">Produtos de cera</ion-select-option>
            <ion-select-option value="Agata">Produtos de Ágata </ion-select-option>
            <ion-select-option value="Vidro">Produtos de vidro</ion-select-option>
            <ion-select-option value="Ferro">Produtos de ferro</ion-select-option>
            <ion-select-option value="Palha">Produtos de palha</ion-select-option>
            <ion-select-option value="Louca">Produtos de Louça</ion-select-option>
            <ion-select-option value="Barro">Produtos de Barro</ion-select-option>
            <ion-select-option value="Madeiras">Produtos de Madeira</ion-select-option>
            <ion-select-option value="Tabacaria">Tabacaria</ion-select-option>
            <ion-select-option value="Velas">Velas</ion-select-option>
            <ion-select-option value="Vestuario">Vestuário</ion-select-option>
          </ion-select>
          <form [formGroup]="formulario" (ngSubmit)="logForm()">
  
          <ion-item>
            <ion-label position="floating">Nome do produto</ion-label>
            <ion-input formControlName="nomePrd" value="{{produto?.nome}}"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Descrição</ion-label>
            <ion-input maxLenght="40" formControlName="resumo" value="{{produto?.resumo}}" type="text"></ion-input>
          </ion-item>	
          <ion-item>
            <ion-label position="floating">Quantidade</ion-label>
            <ion-input maxLenght="40" formControlName="qtd" type="text" value="{{produto?.quantity}}"></ion-input>
          </ion-item>					
          <ion-item>
            <ion-label position="floating">Nome da Loja</ion-label>
            <ion-input placeholder="{{nome}}" disabled type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Valor</ion-label>
            <ion-input name="valor" value="{{produto?.price}}" [(ngModel)]="valor" formControlName="valor"
            [brmasker]="{money: true}" type="text"></ion-input>
          </ion-item>
        
          <!--
          <ion-slides style="width: 50%;">
            <ion-slide *ngFor="let items of produto?.fotos">
                <img src="{{items.link}}">
                <ion-button color="danger" style="position: absolute;
                /* float: right; */
                bottom: 10px;" (click)="deletafoto(items)">x</ion-button>
            </ion-slide>
          </ion-slides>
          <p>Escolha as fotos do seu produto!</p>
          <p>Porcentagem de cada foto: {{uploadPercent | async}}% </p>
          
          <ion-button shape="outline" (click)="abrirGaleria1()" color="findme" ><ion-icon name="camera"></ion-icon>	</ion-button>
          <ion-button shape="outline" (click)="abrirGaleria2()" color="findme" ><ion-icon name="camera"></ion-icon>	</ion-button>
          <ion-button shape="outline" (click)="abrirGaleria3()" color="findme" ><ion-icon name="camera"></ion-icon></ion-button>
          <ion-button shape="outline" (click)="abrirGaleria4()" color="findme" ><ion-icon name="camera"></ion-icon>	</ion-button>
          <<img src="{{img.src}}"> -->
  
          </form>
          <h4 style="text-align: center;">Variedades</h4>
          <ion-list>
            <ion-item *ngFor="let itens of produto?.especi">
              <ion-label>{{itens.value}}</ion-label>
            </ion-item>
          </ion-list>
          <ion-button expand="block" (click)="abrir()">Incluir Variedade</ion-button>
          <ion-list [hidden]="hide">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Variedade</ion-label>
                    <ion-input [(ngModel)]="variedade"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                  <ion-button style="margin-top: 20%;" [hidden]="hide" expand="full" (click)="addItem()" color="success">
                    Adicionar  
                   </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            
            <ion-item *ngFor="let items of check">
              <ion-label>{{items.value}}</ion-label>
              <ion-button color="danger" slot="end" (click)="deletaItem(items)">Excluir</ion-button>
            </ion-item>
            </ion-list>
           <br/>
            
            <br/>
  
            <ion-button (click)="create()" expand="block" class="signin-button" >
               Publicar 
            </ion-button>
        </ion-card-content>
        
    </ion-card>
       
  </ion-content>