
<ion-content>
  
  <div class="background-div1">
    <ion-icon class="arrow" (click)="voltar()"name="arrow-back"></ion-icon>
       <img style="width:30%"src="/assets/Picture1.png"/>
       <h1 style="text-align: center;font-weight: bold;
       font-style: italic;"></h1>
  </div>
  <ion-fab vertical="top" horizontal="end" *ngIf="produtos.length > 0 " slot="fixed">
    <ion-badge class="badge-produtos" *ngIf="produtos.length > 0" color="danger">{{produtos.length}}</ion-badge>
      <ion-fab-button (click)="finalizarCompra()" color="dark">
        <ion-icon style="color:#ffcb02 !important" name="cart"></ion-icon>
     </ion-fab-button>
 </ion-fab>
  <ion-searchbar style="position: absolute; margin-top: -25%" animated placeholder="Pesquise pelo produto" (ionInput)="filterList($event)"></ion-searchbar>	
  <h4 style="text-align: center;
  font-weight: bold;
  padding: 10px;" >Categorias</h4>
  <ion-segment style="background: white;" scrollable (ionChange)="segmentChanged($event)" value="{{valorinicial}}">
    <ion-segment-button style="width: auto !important; min-width: 170px;" *ngFor="let items of categorias" value="{{items}}">
      <p value="{{items}}">{{items}}</p>
    </ion-segment-button>
  </ion-segment>  



  <ion-list>
    <ion-item *ngFor="let items of lista">
      <ion-label>
        <h2>{{items.nome}}</h2>
        <p>R${{items.valor}}</p>
        <p style="font-weight: bold;" *ngIf="items.nomeLoja">Loja: {{items.nomeLoja}}</p>
        <p style="background: #ffc409;
        padding: 5px;
        text-align: center;
        border-radius: 25px;
        color: black;">{{items.tipoPrd}}</p>
      </ion-label>
      <ion-button (click)="presentModal(items.id, items.lojaUID, items.email)"  fill="solid" color="warning" style="color:#ffcb02 !important">
          Veja
      </ion-button>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>



  <!--ion-list>
    <ion-item *ngFor="let items of goalList">
      <ion-thumbnail slot="start">
        <img  *ngIf="items.fotos.length != 0" src="{{items.fotos[0].link}}">
        <img  *ngIf="items.fotos.length === 0" src="/assets/Picture1.png">
      </ion-thumbnail>
      <ion-label>
        <h2>{{items.nome}}</h2>
        <p>R${{items.valor}}</p>
        <p style="background: #ffc409;
        padding: 5px;
        text-align: center;
        border-radius: 25px;
        color: black;">{{items.tipoPrd}}</p>
      </ion-label>
      <ion-button  (click)="presentModal(items.id, items.email)"  fill="solid" color="warning" style="color:#ffcb02 !important">
          Veja
      </ion-button>
    </ion-item>
  </ion-list>
  <!--ion-grid>
  <ion-row >
    <ion-col class="extra-2" *ngFor="let items of goalList">
      <ion-card class="extra" >
        <img style="margin:auto; max-height: 15vh;"  *ngIf="items.fotos.length === 0" src="/assets/Picture1.png" alt="" />
  
        <img style=" margin: auto;max-height: 15vh;" *ngIf="items.fotos.length != 0" src="{{items.fotos[0].link}}"alt="" />
        <ion-label>
            <p style="text-align: center;
            min-height: 5vh;
            max-height: 5vh;">{{items.nomeLoja}}</p>
        </ion-label>
    </ion-card>
    <p style="text-align: center;
    /* background: #ffc409; */
    font-weight: bold;
    border-radius: 25px;
    margin-bottom: -5%;">R${{items.valor}}</p>

    <p style="text-align: center;">{{items.nome}}</p>
            
    <ion-button  (click)="presentModal(items.id, items.lojaUID, items.email)"  fill="solid" color="warning" style="color:#ffcb02 !important">
      Veja
  </ion-button>
    </ion-col>
  </ion-row>
</ion-grid-->

<div style="text-align: center;" *ngIf="semLoja === 0">
  <img src="/assets/Picture1.png" alt="" />
  <h2>Ops... :(</h2>
  <p>Parece que no momento não temos produtos na sua região...</p>
  <p>Mas não se preocupe, em breve teremos! 
 Compartilhe o app com pessoas e comerciantes da área e venha às compras!</p>

</div>

</ion-content>
