*{
    font-weight: 300;
  }
  
  .background-div1{
    background: linear-gradient(145deg, #ffcb0254 40%, #ffc409 100%);
    height: 190px;
      width: 100%;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
  
  }
  .extra-2{
    text-align: -webkit-center;
    //border: 1px solid #dddd;
    box-shadow: 5px 3px #dddddd57;
    border-radius: 25px;
    margin-bottom: 15px;
  }
  .extra{
    text-align: center;
      height: 100%;
      margin: auto;
      min-height: 25vh;
      max-height: 25vh;
      width: 20vh;
      margin:15px; 
      //border: 1px solid #ffc40938;
  }
  ion-content{
    //--background: linear-gradient(rgb(255 255 255 / 92%), rgb(255 255 255)), url('../../assets/Picture1.png') no-repeat no-repeat center;
  
  }
  .nada{
    position: absolute;
    color: black;
    margin-left: 30%;
    margin-top: 12%;
    font-weight: bold;
  }
  ion-segment-button{
    //width: auto !important;
      color: black;
      font: -webkit-control;
  }
  .arrow{
      color: black;
      width: 14%;
      height: 12%;
      margin-top: 5%;
      float:left;
  }
  .cart-item-valor{
    position: absolute;
    right: 100%;
    top: 33%;
    width: 50%;
    font-size: initial;
    border: 2px solid;
    border-radius: 25px;
  }
  .badge-produtos{
    border-radius: 25px;
    padding: 7px;
    position: absolute;
    bottom: 65%;
    right: -5%;
    z-index: 10;
    width: 50%;
  }