*{
  font-weight: 300;
}
.background-div1{
	background: linear-gradient(180deg, #ffc409 40%, #ffc40942 100%);
    height: 235px;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
ion-content{
  //--background: linear-gradient(rgb(255 255 255 / 92%), rgb(255 255 255)), url('../../assets/Picture1.png') no-repeat no-repeat center;

}
.arrow{
	color: black;
    width: 14%;
    height: 12%;
    margin-top: 5%;
    float:left;
}
.cart-item-valor{
  position: absolute;
  right: 100%;
  top: 33%;
  width: 50%;
  font-size: initial;
  border: 2px solid;
  border-radius: 25px;
}
.badge-produtos{
  border-radius: 25px;
  padding: 7px;
  position: absolute;
  bottom: 65%;
  right: -5%;
  z-index: 10;
  width: 50%;
}