<ion-content [fullscreen]="true">
<div class="background-div1">
    <ion-icon class="arrow" (click)="voltar()"name="arrow-back"></ion-icon>
       <img style="width:30%"src="/assets/Picture1.png"/>

 <h1 style="text-align: center;    font-weight: bold;
 font-style: italic;"> {{loja.nome}}</h1>
   <p  style="text-align: center;">Entrega de: {{loja.entrega}}</p>

</div>

     

<div>
</div>
<p  style="text-align: center;"> Se ultrapassar o horario, entregamos:</p>
<p  style="text-align: center;">{{loja.seNao}}</p>

<ion-fab vertical="top" horizontal="end" *ngIf="produtos.length > 0 " slot="fixed">
   <ion-badge class="badge-produtos" *ngIf="produtos.length > 0" color="danger">{{produtos.length}}</ion-badge>
   	<ion-fab-button (click)="finalizarCompra()" color="dark">
       <ion-icon style="color:#ffcb02 !important" name="cart"></ion-icon>
    </ion-fab-button>
</ion-fab>


      <ion-item style=" margin-top: 15%;
      margin-bottom: 5%; border-radius: 25px;">
          <ion-icon name="pin" style="color: #3eab3e" slot="start"></ion-icon>
          <ion-label>{{loja.bairro}}</ion-label>
      </ion-item>



   <!--ion-item >
     <ion-button fill="clear" expand="block" style=" margin-right: auto; margin-left: auto; " (click)="slidePrev(mySlider)"> <ion-icon color="findme" style="" name="arrow-round-back"></ion-icon> Prev </ion-button>
     <ion-button fill="clear" expand="block" style=" margin-right: auto; margin-left: auto; "  (click)="nextSlide(mySlider)"> Next <ion-icon color="findme" style="" name="arrow-round-forward"></ion-icon></ion-button>
    </ion-item-->

         <ion-item style="border-radius: 25px; margin-bottom: 5%">
                <ion-icon slot="start"  style="color: black" name="car"></ion-icon>
                <p>Entrega</p>
                <p *ngIf="email != undefined" slot="end">R${{valorDelivery}}</p>
                <p *ngIf="email === undefined"  slot="end">Faça o login para calcular</p>
            </ion-item>
        <ion-item *ngIf="valorCompra > 0" style="border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.21);
    box-shadow: 3px 3px rgba(128, 128, 128, 0.4);">
            <ion-icon slot="start" style="color: green" name="cash"></ion-icon>
            <p>Total em produtos</p>
            <p slot="end">R${{visu}}</p>
        </ion-item>
        <p style="text-align: center;
        border-radius: 10px;
        background: red;
        color: white;
        font-weight: bold;
        width: 55%;
        padding: 5px;
        margin: auto;"> Pedido mínimo: R$15,00</p>


          <h3 style="text-align: center;font-weight: bold;">Comentários</h3>

    <div *ngIf="commentsLen === 0">

      <p style="text-align: center">Essa loja ainda não tem comentários</p>
    </div>
    <div *ngIf="commentsLen > 0">
      
      <ion-slides>
        <ion-slide *ngFor="let items of lojaID">

            
          <ion-card style="width: 100%">
              <ion-card-header>
                <ion-card-title><h4><i>{{items.comments}}</i></h4></ion-card-title>
                <ion-card-subtitle>{{items.nomeComprador}}</ion-card-subtitle>
              </ion-card-header>
                  
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <!--div style="text-align: center;">
      <p>  Não achou o produto desejado?</p>
      <h2>
       Faça um orçamento direto com a loja!
      </h2>
      <ion-button color="warning" expand="block" (click)="orcamento()">Solicite um Orçamento</ion-button>
    </div-->

    <h4 style="background: rgb(255, 209, 18);
    margin: 0;
    border-top-left-radius: 30px;
    border: 10px solid rgb(255, 209, 18);
    color: black;
    border-top-right-radius: 30px;" text-center>Produtos</h4>
    <div style="text-align: center;">
      <ion-segment style="background: white;" scrollable (ionChange)="segmentChanged($event)" value="{{valorinicial}}">
        <ion-segment-button style="width: auto !important; min-width: 160px;" *ngFor="let items of categorias" value="{{items}}">
          <p value="{{items}}">{{items}}</p>
        </ion-segment-button>

      </ion-segment>  
</div>
<ion-searchbar  animated style="color: black; background: linear-gradient(180deg, #ffce00, #ffce0091, #2224280a);" placeholder="Pesquise um produto"
                    (ionInput)="filterList($event)">



    </ion-searchbar>

    <ion-list *ngFor="let items of goalList" >
      <ion-item>
        <ion-thumbnail slot="start">
          <img  *ngIf="items.fotos.length != 0" src="{{items.fotos[0].link}}">
          <img  *ngIf="items.fotos.length === 0" src="/assets/Picture1.png">
        </ion-thumbnail>
        <ion-label>
          <h2>{{items.nome}}</h2>
          <p>R${{items.valor}}</p>
          <p>Quantidade:{{items.quantity}}</p>
          <p style="background: #ffc409;
          padding: 5px;
          text-align: center;
          border-radius: 25px;
          color: black;">{{items.tipoPrd}}</p>
        </ion-label>
        <ion-button *ngIf="email != undefined" (click)="presentModal(items.id)"  fill="solid" color="warning" style="color:#ffcb02 !important">
            Veja
        </ion-button>
      <ion-button fill="solid" *ngIf="email === undefined" color="warning" slot="end"(click)="veritem(items)">Veja</ion-button>
  </ion-item>

  


    </ion-list>





</ion-content>
