<ion-content [fullscreen]="true">
<div class="background-div1">
    <ion-icon class="arrow" (click)="voltar()"name="arrow-back"></ion-icon>
       <img style="width:30%"src="/assets/Picture1.png"/>

 <h1 style="text-align: center;"> {{loja.nome}}</h1>
   <p  style="text-align: center;">Entrega de: {{loja.entrega}}</p>
   <p  style="text-align: center;"> Se ultrapassar o horario, entregamos:{{loja.seNao}}</p>

</div>

     

<div>
</div>
<ion-fab vertical="top" horizontal="end" *ngIf="produtos.length > 0 " slot="fixed">
   <ion-badge class="badge-produtos" *ngIf="produtos.length > 0" color="danger">{{produtos.length}}</ion-badge>
   	<ion-fab-button (click)="finalizarCompra()" color="dark">
       <ion-icon style="color:#ffcb02 !important" name="cart"></ion-icon>
    </ion-fab-button>
</ion-fab>


      <ion-item style=" margin-top: 15%;
      margin-bottom: 5%; border-radius: 25px;">
          <ion-icon name="pin" style="color: #3eab3e" slot="start"></ion-icon>
          <ion-label>{{loja.bairro}}</ion-label>
      </ion-item>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">

      <ion-fab-button color="findme">

          </ion-fab-button>
      </ion-fab>


   <!--ion-item >
     <ion-button fill="clear" expand="block" style=" margin-right: auto; margin-left: auto; " (click)="slidePrev(mySlider)"> <ion-icon color="findme" style="" name="arrow-round-back"></ion-icon> Prev </ion-button>
     <ion-button fill="clear" expand="block" style=" margin-right: auto; margin-left: auto; "  (click)="nextSlide(mySlider)"> Next <ion-icon color="findme" style="" name="arrow-round-forward"></ion-icon></ion-button>
    </ion-item-->

         <ion-item style="border-radius: 25px; margin-bottom: 5%">
                <ion-icon slot="start"  style="color: black" name="car"></ion-icon>
                <p>Entrega</p>
                <p slot="end">R${{valorDelivery}}</p>
                <!--p slot="end">R$8,00</p-->
            </ion-item>
        <ion-item *ngIf="valorCompra > 0" style="border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.21);
    box-shadow: 3px 3px rgba(128, 128, 128, 0.4);">
            <ion-icon slot="start" style="color: green" name="cash"></ion-icon>
            <p>Total em produtos</p>
            <p slot="end">R${{visu}}</p>
        </ion-item>

    <!--ion-select style="border: 1px solid black; border-radius: 25px; padding: 10px;" placeholder="Escolha uma categoria" [(ngModel)]="categoria">
        <ion-select-option value="Velas">Velas</ion-select-option>
        <ion-select-option value="Louca">Produtos de Louça</ion-select-option>
        <ion-select-option value="Barro">Produtos de Barro</ion-select-option>
        <ion-select-option value="Imagens">Imagens</ion-select-option>
        <ion-select-option value="Contas">Contas</ion-select-option>
        <ion-select-option value="Madeiras">Produtos de Madeira</ion-select-option>
        <ion-select-option value="Fumos">Fumos</ion-select-option>
        <ion-select-option value="Decoracao">Decoração</ion-select-option>
        <ion-select-option value="Jogos">Jogos</ion-select-option>


        style="background: linear-gradient(95deg, rgba(0,0,0,.2), transparent);
       border-top-left-radius: 25px;height:25vh;border-bottom-left-radius: 25px;
    margin-bottom: 10%;"

    </ion-select-->
          <h3 style="text-align: center;font-weight: bold;">Comentários</h3>

    <div *ngIf="commentsLen === 0">

      <p style="text-align: center">Essa loja ainda não tem comentários</p>
    </div>
    <div *ngIf="commentsLen > 0">
      
      <ion-slides>
        <ion-slide *ngFor="let items of lojaID">

            
          <ion-card style="width: 100%">
              <ion-card-header>
                <ion-card-title><h4><i>{{items.comments}}</i></h4></ion-card-title>
                <ion-card-subtitle>{{items.nomeComprador}}</ion-card-subtitle>
              </ion-card-header>
                  
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <h4 style="background: rgb(255, 209, 18);
    margin: 0;
    border-top-left-radius: 30px;
    border: 10px solid rgb(255, 209, 18);
    color: black;
    border-top-right-radius: 30px;" text-center>Produtos</h4>
    <div style="text-align: center;">
<p style="font-weight: bold;">Escolha o tipo de produto:</p>
<ion-select placeholder="Tipo de produto" style="border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
margin-bottom: 10%;
background: #fdd112;" [(ngModel)]="type">
  <ion-select-option value="Alimentos">Alimentos</ion-select-option>
  <ion-select-option value="Animais">Animais</ion-select-option>
  <ion-select-option value="Bijuterias">Bijuterias</ion-select-option>
  <ion-select-option value="Bebidas">Bebidas</ion-select-option>
  <ion-select-option value="Defumacao">Defumação</ion-select-option>
  <ion-select-option value="Decoracao">Decoração</ion-select-option>					
  <ion-select-option value="Ervas">Ervas</ion-select-option>
  <ion-select-option value="Contas">Guia/contas</ion-select-option>
  <ion-select-option value="Imagens">Imagens</ion-select-option>
  <ion-select-option value="Instrumentos">Instrumentos musicais</ion-select-option>					
  <ion-select-option value="Livraria">Livraria</ion-select-option>
  <ion-select-option value="Outros">Outros</ion-select-option>
  <ion-select-option value="Pedras/Cristais">Pedras / Cristais</ion-select-option>
  <ion-select-option value="Cera">Produtos de cera</ion-select-option>
  <ion-select-option value="Agata">Produtos de Ágata </ion-select-option>
  <ion-select-option value="Vidro">Produtos de vidro</ion-select-option>
  <ion-select-option value="Ferro">Produtos de ferro</ion-select-option>
  <ion-select-option value="Palha">Produtos de palha</ion-select-option>
  <ion-select-option value="Louca">Produtos de Louça</ion-select-option>
  <ion-select-option value="Barro">Produtos de Barro</ion-select-option>
  <ion-select-option value="Madeiras">Produtos de Madeira</ion-select-option>
  <ion-select-option value="Tabacaria">Tabacaria</ion-select-option>
  <ion-select-option value="Velas">Velas</ion-select-option>
  <ion-select-option value="Vestuario">Vestuário</ion-select-option>
</ion-select>
</div>
<ion-searchbar  animated style="color: black; background: linear-gradient(180deg, #ffce00, #ffce0091, #2224280a);" placeholder="Pesquise um produto"
                    (ionInput)="filterList($event)">



    </ion-searchbar>

    <ion-list *ngFor="let items of goalList" >
      <ion-item> 

        <ion-thumbnail slot="start">
          <img  *ngIf="items.fotos" src="{{items.fotos[0].link}}">
          <img  *ngIf="!items.fotos" src="/assets/Picture1.png">
        </ion-thumbnail>
        <ion-label>
          <h2>{{items.nome}}</h2>
          <p>R${{items.valor}}</p>
          <p>Quantidade:{{items.quantity}}</p>
          <p style="background: #ffc409;
          padding: 5px;
          text-align: center;
          border-radius: 25px;
          color: black;">{{items.tipoPrd}}</p>
        </ion-label>
        <ion-button (click)="addCarrinho(items)" slot="end" fill="solid" color="warning" style="color:#ffcb02 !important">
          <ion-icon name="cart"></ion-icon>
      </ion-button>
      <ion-button fill="solid" color="warning" slot="end"(click)="veritem(items)">Veja</ion-button>
  </ion-item>

  


    </ion-list>


        <!--ion-item>
        <p style="color: gray;">Avalie essa loja:</p>
         <ion-button fill="outline" color="findme" (click)="handleLike()">
              <ion-icon name="thumbs-up"></ion-icon>
          </ion-button>
          <ion-button fill="outline" color="findme" (click)="handleDislike()">
              <ion-icon name="thumbs-down"></ion-icon>
          </ion-button>
      </ion-item-->

 


</ion-content>
