

<ion-content [fullscreen]="true">
<div class="background-div1">
    <img style="width:45%"src="/assets/Picture1.png">
      <ion-item class="item1">
        <ion-icon slot="start" style="color: green" name="cash"></ion-icon>
        <p>Total</p>
        <p slot="end">R${{valor}}</p>
      </ion-item>
</div>
  
<ion-fab  vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button class="findme" color="dark" (click)=" home()" >
    <ion-icon style="color:#ffcb02 !important" name="home-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
  <ion-card class="card-pag">
    <ion-card-header> 
      <ion-select placeholder="Escolha a forma de pagamento" [(ngModel)]="pagamento">
        <ion-select-option value="credito">Crédito</ion-select-option>
        <ion-select-option value="dinheiro">Dinheiro</ion-select-option>
      </ion-select>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">

        <ion-fab-button color="dark">

        </ion-fab-button>
      </ion-fab>
    </ion-card-header>

   <ion-item  *ngIf="pagamento ==='dinheiro'">
      <p style="font-size: 12px; color:red;">Tudo certo? Clique para confirmar o pagamento!</p>
      <ion-button color="success" style="margin: auto" (click)="pagarDin()"> Confirmar Pagamento </ion-button>
    </ion-item>

  </ion-card>

    <div *ngIf="pagamento ==='credito'">
      <h4 style="margin: 0; text-align: center">Informações do cartão</h4>

      <ion-item>
          <ion-label position="stacked">Nome no cartão</ion-label>
          <ion-input [(ngModel)]="nomeCartao"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-item>
                <ion-label position="stacked">CPF</ion-label>
                <ion-input  maxLenght="40" [brmasker]="{person: true}" [(ngModel)]="cpfCartao"></ion-input>
              </ion-item>            
          </ion-col>
          <ion-col>
                <ion-label position="floating"> Data de Nascimento</ion-label>

                <ion-datetime
                    [dayShortNames]="customDayShortNames"
                    displayFormat="DD MMM, YYYY"
                    monthShortNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" [(ngModel)]="dataNCartao" placeholder="Clique aqui" required></ion-datetime>

           
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
      <ion-row>
          <ion-col>
              <ion-item>
                  <ion-label position="stacked">DDD</ion-label>
                  <ion-input [(ngModel)]="dddCartao"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col>
              <ion-item>
                  <ion-label position="stacked">Telefone</ion-label>
                  <ion-input [(ngModel)]="telefoneCartao"></ion-input>
              </ion-item>
          </ion-col>
      </ion-row>
      </ion-grid>
      <ion-item>
          <ion-label position="stacked">Número do cartão</ion-label>
          <ion-input [(ngModel)]="numeroCard"></ion-input>
      </ion-item>
      <ion-grid>
      <ion-row>
          <ion-col>
              <ion-item>
                  <ion-label position="stacked">Mês de validade</ion-label>
                  <ion-input type="tel" pattern="[0-9]*" maxlength="2" [(ngModel)]="mesValidade"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col>
              <ion-item>
                  <ion-label position="stacked">Ano de validade</ion-label>
                  <ion-input type="tel" pattern="[0-9]*" maxlength="2" [(ngModel)]="anoValidade"></ion-input>
              </ion-item>
          </ion-col>
      </ion-row>
      </ion-grid>
      <ion-item>
          <ion-label position="stacked">Código de Segurança</ion-label>
          <ion-input type="tel" pattern="[0-9]*" maxlength="2" [(ngModel)]="CVV"></ion-input>
      </ion-item>
         <br/>   
      <ion-item>  
          <p style="font-size: 12px; color:red;">Tudo certo? Clique para confirmar o pagamento!</p>
          <ion-button color="success" style="margin: auto" (click)="teste()"> Confirmar Pagamento </ion-button>
      </ion-item>
    </div>


    <ion-list>
        <h4 style="margin: 0; text-align: center">Seu pedido</h4>
      <ion-item  *ngFor="let items of carrinho" >
        <ion-avatar slot="start">
          <img src="{{items.fotos}}">
        </ion-avatar>
        <ion-label >{{items.nome}}<p>R${{items.valor}}</p></ion-label>
        <ion-button color="warning" fill="solid" color="warning" slot="end"(click)="deletaItem(items)">X</ion-button>
      </ion-item>
    </ion-list>


</ion-content>
