*{
	font-weight: 300;
}
.background-div1{
    background: linear-gradient(145deg, #ffcb0254 40%, #ffc409 100%);
    height: 235px;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
.item1{
	margin-bottom: 5%;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.4);
    width: 90%;
    //top: 48%;
    //position: absolute;
    left: 5%;
}
.card-pag{
	//position: absolute;
    //top: -10%;
    width: 95%;
}
.arrow{
	color: black;
    width: 14%;
    height: 12%;
    margin-top: 5%;
    float:left;
}