ion-header{
    --background: linear-gradient(90deg, #ffc107 0%, #ffc10785 35%, #f7f3e1 100%);
    white-space: break-spaces;
    ion-toolbar, ion-item{
      --background: linear-gradient(90deg, #ffc107 0%, #ffc10785 35%, #f7f3e1 100%);
      //background:linear-gradient(90deg,rgb(255 193 7) 0%,rgb(255 193 7 / 52%) 35%, rgb(255 193 7 / 18%) 100%);;
        //padding: 0 10px;
    }
    ion-toolbar{
        .bordered{
            --border-radius:10px;
            --box-shadow:5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF
        }
    }
    ion-item{
        h3{
            font-weight: 700;
            font-size: 14px;
        }
        p{
            font-weight: 500;
            font-size: 14px;
        }
        ion-avatar{
           --border-radius:15%;
           height: 70px;
           width: 70px;
        }
    }
}
ion-content{
    --background: #f1f5f8 ;
    .email-div, .senha-div{
        margin-top: 5px;
    
        label{
            margin:0 0 0 4px;
            font-size: 12px;
        }
        input{
            width: 100%;
            border: solid 2px #f1f5f8;
            height: 43px;
            border-radius: 10px;
            padding: 10px;
            margin-top: 5px;
        }
        ::placeholder{
            margin-left: 5px ;
        }
        ::-webkit-input-placeholder{
            margin-left: 5px ;
    
        }
    }
}