<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="Voltar"></ion-back-button>
    </ion-buttons>
      <ion-avatar slot="start">
        <img style="padding: 0px;
        margin-left: 10%;" src="/assets/Picture1.png">
      </ion-avatar>
    </ion-toolbar>
    <ion-fab  vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button class="findme" color="dark" (click)=" home()" >
        <ion-icon style="color:#ffcb02 !important" name="home-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-header>

<ion-content>

  <ion-card class="card-pag"  *ngIf="pagamento ==='credito'">
    <ion-card-header>
      <ion-card-subtitle>Pagamento com cartão</ion-card-subtitle>
      <h4 style="    margin: 0;
      font-weight: bold;
      color: black;">Informações do cartão</h4>
       <p style="margin:0;
       "> Em quantas vezes?</p>
      <ion-select placeholder="Clique aqui e escolha as parcelas" style="border: 2px solid #f1f5f8;
      padding: 10px;
      border-radius: 10px;
      margin-top: 5px;margin-bottom: -10px;" [(ngModel)]="parcelamento">
        <ion-select-option value="1">À vista</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
    </ion-select>
    </ion-card-header>
    <ion-card-content >
      <div class="email-div">
        <label>Nome no cartão</label>
        <input [(ngModel)]="nomeCartao"/>
      </div>
      <ion-grid style="    padding: 0;
      margin: 0;">
        <ion-row>
          <ion-col>
              <div class="email-div">
                <label>CPF</label>
                <input  maxlenght="14" [brmasker]="{person: true}" [(ngModel)]="cpfCartao"/>
              </div>            
          </ion-col>
          <ion-col>
            <div class="email-div">
              <ion-label style="font-size: 12px;"> Data de Nascimento</ion-label>
              <ion-datetime cancelText="Cancelar" doneText="Ok" style="margin-top: 2%;
              border: solid 2px #f1f5f8;
              border-radius: 10px;
              height: 45px;
              padding: 10px;"
                  [dayShortNames]="customDayShortNames"
                  displayFormat="DD MMM, YYYY"
                  monthShortNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" [(ngModel)]="dataNCartao" placeholder="Clique aqui" required></ion-datetime> 
            </div>
 
          </ion-col>
        </ion-row>
      </ion-grid >
      <ion-grid  style="    padding: 0;
      margin: 0;">
        <ion-row>
            <ion-col>
                <div class="email-div">
                    <label>DDD</label>
                    <input type="tel" pattern="[0-9]*" maxlength="2" [(ngModel)]="dddCartao"/>
                </div>
            </ion-col>
            <ion-col>
                <div class="email-div">
                    <label>Telefone</label>
                    <input [(ngModel)]="telefoneCartao"/>
                </div>
            </ion-col>
        </ion-row>
        </ion-grid>
        <div class="email-div">
          <label position="stacked">Número do cartão</label>
          <input [(ngModel)]="numeroCard"/>
        </div>
      <ion-grid  style="    padding: 0;
      margin: 0;">
      <ion-row>
          <ion-col>
              <div class="email-div">
                  <label position="stacked">Mês de validade</label>
                  <input type="tel" pattern="[0-9]*" maxlength="2" [(ngModel)]="mesValidade"/>
              </div>
          </ion-col>
          <ion-col>
              <div class="email-div">
                  <label position="stacked">Ano de validade</label>
                  <input type="tel" pattern="[0-9]*" maxlength="2" [(ngModel)]="anoValidade"/>
              </div>
          </ion-col>
      </ion-row>
      </ion-grid>
      <div class="email-div">
          <label position="stacked">Código de Segurança</label>
          <input type="tel" pattern="[0-9]*" maxlength="3" [(ngModel)]="CVV"/>
      </div>
    </ion-card-content>

  </ion-card>

  <ion-card class="card-pag">
    <ion-card-header>
      <ion-card-subtitle>Endereço de entrega <ion-icon name="pin"></ion-icon>
      </ion-card-subtitle>
      <h4 style="    margin: 0;
      font-weight: bold;
      color: black;">{{endereco}}, {{numeroEND}} </h4>
      <h5 style="margin: 0;">{{complemento}}</h5>
      <p style="margin: 0;">{{bairro}}, {{cidade}} - {{estado}}</p>
    </ion-card-header>
    <p style="color: #aba7a7e8; text-align: center;"> Para alterar seu endereço, vá até o seu perfil.</p>
  </ion-card>
   

<ion-card class="card-pag">
  <ion-card-header> 
    <h4 style="margin: 0; text-align: center">Seu pedido</h4>
  </ion-card-header>
  <ion-list>
    
  <ion-item lines="none"  *ngFor="let items of carrinhoDes; let i=index" >
      <ion-avatar slot="start">
        <img  *ngIf="items.fotos.length != 0" src="{{items.fotos}}">
        <img  *ngIf="items.fotos.length === 0" src="/assets/Picture1.png">
      </ion-avatar>
      <ion-label>
        {{items.nome}}
        <!--p>Total do produto: R${{items.valor}}</p-->
        <p *ngIf="items.especi !=' ' "><b>Tipo:</b> {{items.especi}}</p>
        <p><b>Quantidade:</b> {{items.quantity}}</p>
      </ion-label>
      <ion-button *ngIf="items.quantity !== 0" color="warning" style="margin-right: 5%;" (click)="retirarQTD(i)">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
      {{items.quantity}}
      <ion-button style="margin-left: 5%;" color="warning" (click)="adicionarQTD(i)">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    
  </ion-item>
  </ion-list> 

</ion-card>
 
</ion-content>
<ion-footer>
  <ion-item lines="none">
    <ion-select placeholder="Clique aqui e escolha a forma de pagamento" style="color:black;max-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important;
    height: 50px;" [(ngModel)]="pagamento">
      <ion-select-option value="credito">Crédito</ion-select-option>
      <ion-select-option value="debito">Débito Presencial</ion-select-option>
      <ion-select-option value="dinheiro">Dinheiro</ion-select-option>

    </ion-select>
  </ion-item>
  <ion-item lines="none"  [hidden]="esconde" >
    <label style="font-size: 15px;" >Cupom</label>
    <input style="width: 100%;
    margin-left: 3%;
    border-radius: 7px;
    height: 30px;
    border: 1px solid #f1f5f8"  maxLenght="40" [(ngModel)]="cupom"/>
    <ion-button color="warning" (click)="cupo()" style="min-height: 30px;
    margin: 10px;" slot="end" fill="solid" expand="block" >Adicionar</ion-button> 

  </ion-item>  
  <ion-item lines="none" class="item1">
    <ion-icon  slot="start" style="color:black" name="bicycle-outline"></ion-icon>
    <p>Frete</p>
    <p slot="end">R${{valorDelivery}}</p>
  </ion-item>
  <ion-item lines="none" class="item1">
        <ion-icon slot="start" style="color: green" name="cash"></ion-icon>
        <p>Total</p>
        <p slot="end">R${{valor}}</p>
  </ion-item>
  <ion-item lines="none"  *ngIf="pagamento ==='dinheiro'">
    <p style="font-size: 12px; color:red;">Tudo certo? Clique para confirmar o pagamento!</p>
    <ion-button color="success" style="margin: auto" (click)="pagarDin()"> Confirmar Pagamento </ion-button>
  </ion-item>
  <ion-item  lines="none" *ngIf="pagamento ==='debito'">
    <p style="font-size: 12px; color:red;">Tudo certo? Clique para confirmar o pagamento!</p>
    <ion-button color="success" style="margin: auto" (click)="pagarDeb()"> Confirmar Pagamento </ion-button>
  </ion-item>
  <ion-item lines="none"  *ngIf="pagamento ==='credito'">  
    <p style="font-size: 12px; color:red;">Tudo certo? Clique para confirmar o pagamento!</p>
    <ion-button color="success" style="margin: auto" (click)="teste()"> Confirmar Pagamento </ion-button>
  </ion-item>
</ion-footer>