<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-avatar slot="start">
      <img style="padding: 0px;
      margin-left: 10%;" src="/assets/Picture1.png">

    </ion-avatar>
    <ion-buttons slot="end">
      <ion-button class="bordered" (click)="perfilPage()" fill="solid" color="light">
        <ion-icon color="dark" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">

    <ion-label>
        <p>Seu endereço,</p>
        <h3>{{endereco}}</h3>
        <p>{{numero}}, {{complemento}}, {{bairro}} - {{estado}}</p>
        
    </ion-label>

  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" expand="block" style="margin-top: -5%; color:#ffc409" (click)="status()">
          <p style="color:#ffc409">Seus Pedidos</p>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button  href="https://wa.me/5521997955586" color="success" expand="block" style="margin-top: -5%">
          <p>Fale Conosco</p>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content>
 <div class="slides ion-margin-bottom">
   <h6 style="margin: 0; text-align: center;">Próximas a você</h6>
   <ion-slides [options]="slidesOptions">
     <ion-slide *ngFor="let items of lojaperto">
      <ion-card style="height: 220px;" [routerLink]="['/item/' + items.uid + '/bairro/'+ items.bairro]" >
        <ion-card-header>
          <div class="main">
            <img src="{{items.FotoPerfil}}">
          </div>
        </ion-card-header>
      
        <ion-card-content class="ion-text-left">
          <ion-card-title  style="font-size: large;"class="ion-margin-bottom">{{items.nome}}</ion-card-title>

          <ion-card-subtitle style=" bottom: -5px;" class="ion-text-right">
            <h4>{{items.bairro}},</h4>
            <p>{{items.cidade}}</p>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      
     </ion-slide>
   </ion-slides>

 </div>

 <div class="main">
  <ion-slides [options]="slidesOptions2">
    <ion-slide>
     <ion-card (click)="modal()" class="ut-card-2" >
     
       <ion-card-content style="top: 60%;
        margin: -15px;" class="ion-text-left">
          <ion-card-title  style="font-size: large;margin: 0; color: white;"class="ion-margin-bottom">Produtos</ion-card-title>
          <ion-card-subtitle style=" bottom: -5px; color: lightgray;">
            Veja...
          </ion-card-subtitle>
        </ion-card-content>
     </ion-card>
     
    </ion-slide>
    <ion-slide>
      <ion-card (click)="ervas()"  class="ut-card" >
    
        <ion-card-content style="top: 60%;
        margin: -15px;" class="ion-text-left">
          <ion-card-title  style="font-size: large;margin: 0;"class="ion-margin-bottom">Ervas</ion-card-title>
          <ion-card-subtitle style=" bottom: -5px;">
            Veja...
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      
     </ion-slide>
  </ion-slides>
  <ion-button expand="block" color="dark" (click)="listaOrc()">Veja seus Orçamentos</ion-button>

 </div>
 <div class="container">
  <h6 style="text-align: center;">Lojas no seu estado</h6>
  <ion-list style="background: transparent; padding: 10px;">

        <!-- Lista de lojas Fechadas #goalListFiltrado -->

    <ion-item  detail='false' [routerLink]="['/item/' + items.uid + '/bairro/'+ items.bairro]"  *ngFor="let items of goalListFiltrado" lines="none">
      <ion-badge style="    position: absolute;
      right: 40px;
      top: 60px;" color="success">Aberta</ion-badge>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-avatar>
              <img *ngIf="items.FotoPerfil  != 'undefined'" src="{{items.FotoPerfil}}">
            </ion-avatar>
    
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>
                {{items.nome}}
              </h4>
              <h6>
               {{items.bairro}},
              </h6>
              <p> {{items.cidade}}.</p>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="dark" fill="clear">
              <ion-icon slot="icon-only"  name="chevron-forward-outline"></ion-icon>
            </ion-button> 
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>

    <!-- Lista de lojas Fechadas #offlines -->


    <ion-item disabled style="--background: lightgray;"  *ngFor="let items of offlines" lines="none">
      <ion-badge style="    position: absolute;
      right: 30px;
      top: 60px;" color="danger">Fechada</ion-badge>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-avatar>
              <img *ngIf="items.FotoPerfil  != 'undefined'" src="{{items.FotoPerfil}}">
            </ion-avatar>
    
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>
                {{items.nome}}
              </h4>
              <h6>
               {{items.bairro}},
              </h6>
              <p> {{items.cidade}}.</p>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="dark" fill="clear">
              <ion-icon slot="icon-only"  name="chevron-forward-outline"></ion-icon>
            </ion-button> 
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>
  </ion-list>

 </div>
 </ion-content>


<!--
  
-->

<!--ion-content [fullscreen]="true" class="">
  
<div class="background-div1">
  <img style="width:auto; height:85%"src="/assets/Picture1.png">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="perfilPage()" color="dark">
    <ion-icon style="color:#ffc409" name="person-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

</div>
	
<ion-fab *ngIf="tipo ==='Loja' && aprovado === 'Sim'" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button color="success" (click)="add()">
    <ion-icon style="color:white" name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-card class="card-1">
  <ion-card-header>
    <ion-card-subtitle>Seu endereço</ion-card-subtitle>
    <ion-card-title style="width: 80%;">{{endereco}}</ion-card-title>
    <p>{{numero}}, {{complemento}} - {{bairro}} - {{estado}}</p>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" expand="block" style="margin-top: -5%; color:#ffc409" (click)="status()">
          <p style="color:#ffc409">Seus Pedidos</p>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button  href="https://wa.me/5521997955586" color="success" expand="block" style="margin-top: -5%">
          <p>Fale Conosco</p>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-card>
<ion-slides pager #mySlider class="slides" (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
  <ion-slide>
    <ion-card class="img-back" >
      <img src="/assets/Ervas.png">
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="img-back2" >
      <img src="/assets/CUPOM.png">

    </ion-card>
  </ion-slide>
</ion-slides>

  <ion-segment style="background: transparent; margin-top:10%" scrollable>

    <ion-segment-button  (click)="cli()">
      <img style="width: 75%; border-radius: 10px;" src="/assets/ervinha.png">
      <p>Ervas </p>
    </ion-segment-button>
    <ion-segment-button (click)="modal()" value="Produtos">
      <img style="width: 75%;    border-radius: 10px;" src="/assets/produtos.png">
      <p>Produtos</p>
    </ion-segment-button>
    <ion-segment-button (click)="cli2()" value="Animais">
      <img style="width: 75%;    border-radius: 10px;" src="/assets/Animal.png">
      <p>Animais</p>
    </ion-segment-button>
   
  </ion-segment>  


 <div>
  
  <div >
    <p class="label-lojas">Próximas de você</p>
  </div>
  <div  class="scrolling-wrapper">
  
    <ion-item lines="none"  class="card"  *ngFor="let items of lojaperto">

    <ion-card style="text-align: center;
      height: 100%;
      margin: auto;
      min-height: 40vh;
      max-height: 40vh;
      width: 30vh; margin:15px; border: 1px solid #ffc40938;" [routerLink]="['/item/' + items.uid + '/bairro/'+ items.bairro]"  >
        <ion-card-header style="min-height: 20vh;
        max-height: 20vh;">
          <img style="margin:auto;" *ngIf="items.FotoPerfil === 'undefined'" src="/assets/Picture1.png" alt="" />
  
          <img style=" margin: auto;
        
          max-height: 15vh;max-width: 22vh;" *ngIf="items.FotoPerfil" src="{{items.FotoPerfil}}" alt="" />
        </ion-card-header> 
        <ion-label style="background: linear-gradient(45deg, #ffc40933,#ffc409);
        color: black;
        padding: 3px;
    "> 	
    <ion-icon  style="color:black" name="bicycle-outline"></ion-icon>
    {{items.bairro}}
    <br/>
    {{items.cidade}}
  </ion-label>
        <ion-card-content>
          <ion-label text-wrap>
            {{items.nome}}
        </ion-label>
        </ion-card-content>


    </ion-card>
    
    </ion-item>
    <ion-item lines="none"  class="card"  *ngIf="semLoja === 0" >
      <ion-card style="text-align: center;
    height: 100%;
    margin: auto;
    min-height: 40vh;
    max-height: 40vh;
    width: 30vh; margin:15px; border: 1px solid #ffc40938;" >
      <ion-card-header style="min-height: 20vh;
      max-height: 20vh;">
        <img style="margin:auto;" src="/assets/Picture1.png" alt="" />

      </ion-card-header> 

      <ion-card-content>
        <ion-label text-wrap>
          Já imaginou você comprando por aqui na sua loja favorita?<br/><br/>
              Indique o Axé Delivery!
              <!--ion-button color="warning" (click)="share()">Compartilhar</ion-button-->
      <!--/ion-label>
      </ion-card-content>


  </ion-card>
    </ion-item>
  </div>

  
  <!--div>
    <p class="label-lojas">Outras regiões</p>
  </div-->
  

 <!--ion-select style="margin-top: 10%" placeholder="Qual região você quer procurar?" (ionInput)="filtroZona($event)"[(ngModel)]="filtroLoja">
          <ion-select-option value="Centro">Centro</ion-select-option>
          <ion-select-option value="Zona Oeste">Zona Oeste</ion-select-option>
          <ion-select-option value="Zona Norte">Zona Norte</ion-select-option>
          <ion-select-option value="Zona Sul">Zona Sul</ion-select-option>
          <ion-select-option value="Baixada">Baixada</ion-select-option>
 </ion-select-->



<!--div class="background-traco">
  <div>
    <p class="label-lojas">Lojas</p>
  </div>

          <ion-list style="background: transparent" *ngFor="let items of goalListFiltrado">
            <ion-item *ngIf="items.status ==='Online' && items.estado === estado"  [routerLink]="['/item/' + items.uid + '/bairro/'+ items.bairro]">

              <ion-thumbnail slot="start">
                <img style="margin:auto;" *ngIf="items.FotoPerfil === 'undefined'" src="/assets/Picture1.png" alt="" />
                <img style="margin:auto;" *ngIf="items.FotoPerfil  != 'undefined'" src="{{items.FotoPerfil}}" alt="" />              </ion-thumbnail>
              <ion-label>
                <h2>{{items.nome}}</h2>
                <p>Entrega:{{items.entrega}}</p>
                <!--p>Ou: {{items.seNao}}</p-->
                <!--p>Cidade: {{items.cidade}}</p>
                <p style="background: linear-gradient(45deg, #ffc40933,#ffc409);
                padding: 5px;
                text-align: center;
                border-radius: 25px;
                color: black;">{{items.bairro}}</p>
              </ion-label>
              <ion-button  *ngIf="items.status ==='Offline'"  color="danger" disabled>Fechada</ion-button>
              <ion-button *ngIf="items.status ==='Online'" color="warning" slot="end">VEJA</ion-button>
            </ion-item>             
          </ion-list>
          <ion-list style="background: transparent" *ngFor="let items of offlines">
            <ion-item *ngIf="items.estado === estado" disabled>

              <ion-thumbnail slot="start">
                <img style="margin:auto;" *ngIf="items.FotoPerfil === 'undefined'" src="/assets/Picture1.png" alt="" />
                <img style="margin:auto;" *ngIf="items.FotoPerfil  != 'undefined'" src="{{items.FotoPerfil}}" alt="" />              </ion-thumbnail>
              <ion-label>
                <h2>{{items.nome}}</h2>
                <!--p>Entrega:{{items.entrega}}</p>
                <p>Ou: {{items.seNao}}</p-->
                <!--p>Cidade: {{items.cidade}}</p>
                <p style="background: linear-gradient(45deg, #ffc40933,#ffc409);
                padding: 5px;
                text-align: center;
                border-radius: 25px;
                color: black;">{{items.bairro}}</p>
              </ion-label>
              <ion-button  *ngIf="items.status ==='Offline'" color="danger" disabled>Fechada</ion-button>
              <ion-button *ngIf="items.status ==='Online'" color="warning" slot="end">VEJA</ion-button>
            </ion-item>
          </ion-list>

</div>

</div>
<div style="text-align: center;" *ngIf="lojinha === 0">
  <img src="/assets/Picture1.png" alt="" />
  <h2>Ops... :(</h2>
  <p>Parece que no momento não temos loja na sua região...</p>
  <p>Mas não se preocupe, em breve teremos! 
 Compartilhe o app com pessoas e comerciantes da área e venha às compras!</p>
 <!--on-button expand="block" color="warning" (click)="share()">Compartilhar</ion-button-->

  <!--/div>
</ion-content-->
