*{
	font-weight: 300;
}
.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }
ion-header{
   background: linear-gradient(145deg, #ffcb0254 70%, #ffc409 138%);
}
.background-div1{
    background: linear-gradient(145deg, #ffcb0254 40%, #ffc409 100%);
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
ion-content{
  //--background: linear-gradient(rgb(255 255 255 / 92%), rgb(255 255 255)), url('../../assets/Picture1.png') no-repeat no-repeat center;

}
.cardre{
    --background: url('../../assets/lojista.png') no-repeat no-repeat center;
    border: 1px solid #d7ceb0;
    width: 100%;
    height: 190px;
    background-size: cover;
}
.img-back{
  width: 100%;
  height: auto;
}
.img-back2{
  width: 100%;
  height: auto;
}
.card-slides{
    width: 100%;
    background: linear-gradient(45deg, #ffc200, #eab4078a);
}
.card-1{
    width: 95%;
    margin-left:2.6%;
    box-shadow: 1px 10px 15px 5px #8080803d;
}
.button-card1{
	float: right;
    margin-top: -17%;
    margin-right: 2%;

}
.background-div2{
    height: 155px;
    float: right;
    width: 45%;
    min-width: 30px;
    background: linear-gradient(90deg, #ffc409 30%, #f4f5f8 100%);
    border-radius: 10px 13px 10px 150px;
    margin-top: -77%;
    margin-right: -5%;
    box-shadow: -10px -5px #f5f6f9;
    transform: rotate(-10deg);

}
ion-segment-button{
    width: 100px;
  //width: auto !important;
    //color: black;
    //font: -webkit-control;
}
.card-content-ios p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 14px;
  word-break: normal;
  overflow-wrap: anywhere;
}
card-content-ios p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 14px;
  word-break: normal;
  overflow-wrap: anywhere;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
   // background: #d3d3d32b;
  
    .card {
      display: inline-block;
      width:75%;
      height: 100%;
     // --background:transparent;
    }
  }
  .label-lojas{
    color: #ffc409;
    background: #1e2023;
    width: 50%;
    text-align: center;
    padding: 4%;
    box-shadow: 2px 2px lightgrey;
    font-size: large;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
