<ion-header class="ion-no-border">
  <ion-navbar>
  <img style="width:28%"src="/assets/Picture1.png">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="perfilPage()" color="dark">
    <ion-icon style="color:#ffc409" name="person-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
 
</ion-navbar>
</ion-header>
<ion-content [fullscreen]="true" class="">
 
<div class="background-div1">

</div>
	
<ion-fab *ngIf="tipo ==='Loja'" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button color="success" (click)="add()">
    <ion-icon style="color:white" name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
	 <ion-searchbar style="position: absolute; margin-top: -35%" animated placeholder="Pesquise sua loja favorita" (ionInput)="filterList($event)"></ion-searchbar>	
	 <ion-card class="card-1">
  		<ion-card-header>
    		<ion-card-subtitle>Seu endereço</ion-card-subtitle>
    		<ion-card-title>{{endereco}}</ion-card-title>
    		<p>{{numero}} - {{bairro}} - {{estado}}</p>
  		</ion-card-header>
  		<ion-button color="dark" class="button-card1" (click)="status()">
  			<ion-icon  style="color:#ffc409" name="bicycle-outline"></ion-icon>

  		</ion-button>
  </ion-card>


 
  <div style="margin-top:30%;">
    <p class="label-lojas">Lojas na sua região</p>
  </div>
  <div class="scrolling-wrapper">
  
    <ion-item lines="none" class="card"  *ngFor="let items of goalListFiltrado">
      <ion-card style="text-align: center;" [routerLink]="['/item/' + items.id]"  > 
      <img style="margin:auto;" *ngIf="!items.FotoPerfil" src="/assets/Picture1.png" alt="" />
  
      <img style="margin:auto;    max-width: 46%;
      min-width: 45%;" *ngIf="items.FotoPerfil" src="{{items.FotoPerfil}}" alt="" />
      <p>{{items.nome}}</p>
      <ion-label style="background: #ffc409;"> 	
        <ion-icon  style="color:black" name="bicycle-outline"></ion-icon>
        {{items.bairro}}
      </ion-label>

    </ion-card>
    </ion-item>
  </div>
  <div >
    <p class="label-lojas">Outras regiões</p>
  </div>
  

 <ion-select style="margin-top: 10%" placeholder="Qual região você quer procurar?" [(ngModel)]="filtroLoja">
          <ion-select-option value="Centro">Centro</ion-select-option>
          <ion-select-option value="Zona Oeste">Zona Oeste</ion-select-option>
          <ion-select-option value="Zona Norte">Zona Norte</ion-select-option>
          <ion-select-option value="Zona Sul">Zona Sul</ion-select-option>
          <ion-select-option value="Baixada">Baixada</ion-select-option>
 </ion-select>

 <div style="text-align: center;" *ngIf="goalListFiltrado.length === 0">
   <img style="max-width: 55vh" src="/assets/Picture1.png" alt="" />

  <h3>Hm...</h3>
  <p>Parece que não encontramos a loja desejada. Já pesquisou por outra?</p>
 

</div>



<div class="background-traco"  *ngIf="semLoja > 0 && filtroLoja ">

          <ion-list style="background: transparent" *ngFor="let items of goalListFiltrado">
            <ion-item *ngIf="items.zona === filtroLoja" [routerLink]="['/item/' + items.id]">

              <ion-thumbnail slot="start">
                <img style="margin:auto;" *ngIf="!items.FotoPerfil" src="/assets/Picture1.png" alt="" />
  
                <img style="margin:auto;" *ngIf="items.FotoPerfil" src="{{items.FotoPerfil}}" alt="" />              </ion-thumbnail>
              <ion-label>
                <h2>{{items.nome}}</h2>
                <p>Entrega:{{items.entrega}}</p>
                <p>Ou: {{items.seNao}}</p>
                <p style="background: #ffc409;
                padding: 5px;
                text-align: center;
                border-radius: 25px;
                color: black;">{{items.bairro}}</p>
              </ion-label>
              <ion-button color="warning" slot="end">VEJA</ion-button>
            </ion-item>
             
            <div style="text-align: center;" *ngIf="semLoja === 0 && filtroLoja  ">
              <img style="max-width: 55vh" src="/assets/Picture1.png" alt="" />
           
             <p>Parece que não temos loja em sua região...</p>
             <p>Não se preocupe! Compartilhe o app com pessoas e comerciantes da sua área e faça a festa!</p>
           
           </div>

         
            
          </ion-list>
</div>
</ion-content>
