<ion-header>
  <ion-toolbar>
    <ion-title>Seus produtos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-searchbar  animated style="margin-top:3.5% !important;" placeholder="Pesquise o número do pedido" (ionInput)="filterList($event)"></ion-searchbar>
<ion-content>
  <ion-segment style="background: white;" scrollable (ionChange)="segmentChanged($event)" value="{{valorinicial}}">
    <ion-segment-button style="width: auto !important; min-width: 160px;" *ngFor="let items of categorias" value="{{items}}">
      <p value="{{items}}">{{items}}</p>
    </ion-segment-button>

  </ion-segment>  
  <ion-button  expand="block" color="primary" (click)="addProc()" >Adicionar Produto</ion-button>
  <ion-list>
    <h3 text center>Seus produtos no App!</h3>
      <ion-item *ngFor="let items of lista"  >
        <!--ion-thumbnail slot="start">
          <img  *ngIf="items.fotos.length != 0" src="{{items.fotos[0].link}}">
          <img  *ngIf="items.fotos.length === 0" src="/assets/Picture1.png">
        </ion-thumbnail-->
        <ion-label>
          <h2>{{items.nome}}</h2>
          <p>R${{items.valor}}</p>
          <p>Quantidade:{{items.quantity}}</p>
          <p [routerLink]="['/editar/' + items.id]" style="background: #ffc409;
          padding: 5px;
          text-align: center;
          border-radius: 25px;
          color: black;">Editar</p>
        </ion-label>
        <ion-button (click)="presentAlertConfirm(items)" color="danger" slot="end">Deletar</ion-button><br/>
        </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
