<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-avatar slot="start">
      <img style="padding: 0px;
      margin-left: 10%;" src="/assets/Picture1.png">

    </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card style="text-align: center;">
          <ion-card-header>
            <ion-card-subtitle>Quer comprar pelo nosso app?</ion-card-subtitle>
            <ion-card-title>Use sua conta Axé Delivery!</ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button expand="block" class="signup-button" (click)="login()">Entrar</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button expand="block" class="signin-button"(click)="registro()">Cadastre-se</ion-button>
                </ion-col>
              </ion-row>
              
            </ion-grid>
          </ion-card-header>
      </ion-card>
      </ion-slide>
    </ion-slides>
 
  </div>
  <ion-item (click)="clique()" style="margin-bottom: 10px;
  border-radius: 15px !important;
  --background: linear-gradient(290deg, #6094db, #3f51b561);
  margin: 10px;" detail='false' lines="none">
        <ion-grid style="height: 190px;">
          <ion-row class="ion-align-items-center">
            <ion-col size="5">
                <img style="width: 95%;" src="/assets/entregador-transparente.png">
      
            </ion-col>
            <ion-col size="7">
              <ion-label style="text-align: center;">
                <h4 style="font-size: 25px;
                font-weight: bold;
                color: white;">
                  Quer vender
                </h4>
                <h6 style="
                font-weight: bold;
                color: white;">
                  no
                </h6>
                <h6 style="font-size: x-large;
                font-weight: bold;color: #ffc107;">Axé Delivery?</h6>
                <p style="background: red;
                padding: 2px;
                color: white;
                font-weight: bold;
                width: 60%;
                border-radius: 6px;
                margin: auto;
                height: 25px;margin-top: 5%;">Clique Aqui!</p>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <h6 style="text-align: center;">Nossas lojas</h6>
    <ion-list style="background: transparent;
    padding: 10px;">
      <ion-item style="    margin-bottom: 10px;
      border-radius: 15px;" detail='false' [routerLink]="['/item/' + items.id + '/bairro/'+ items.bairro]"  *ngFor="let items of goalListFiltrado" lines="none">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="3">
              <ion-avatar>
                <img *ngIf="items.FotoPerfil  != 'undefined'" src="{{items.FotoPerfil}}">
              </ion-avatar>
      
            </ion-col>
            <ion-col size="7">
              <ion-label>
                <h4>
                  {{items.nome}}
                </h4>
                <h6>
                 {{items.bairro}},
                </h6>
                <p> {{items.cidade}} - {{items.estado}}.</p>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-button color="dark" fill="clear">
                <ion-icon slot="icon-only"  name="chevron-forward-outline"></ion-icon>
              </ion-button> 
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
        <!--ion-list style="background: transparent" *ngFor="let items of goalListFiltrado">
          <ion-item [routerLink]="['/item/' + items.id]">
  
            <ion-thumbnail slot="start">
              <img style="margin:auto;" *ngIf="!items.FotoPerfil" src="/assets/Picture1.png" alt="" />
              <img style="margin:auto;" *ngIf="items.FotoPerfil" src="{{items.FotoPerfil}}" alt="" />
             </ion-thumbnail>
            <ion-label>
              <h2>{{items.nome}}</h2>
              <p>Entrega:{{items.entrega}}</p>
              <p>Ou: {{items.seNao}}</p>
              <p style="background: linear-gradient(45deg, #ffc40933,#ffc409);
              padding: 5px;
              text-align: center;
              border-radius: 25px;
              color: black;">{{items.bairro}}</p>
            </ion-label>
            <ion-button color="warning" slot="end">VEJA</ion-button>
          </ion-item>
           
          <div style="text-align: center;" *ngIf="semLoja === 0 && filtroLoja  ">
            <img style="max-width: 55vh" src="/assets/Picture1.png" alt="" />
         
           <p>Parece que não temos loja em sua região...</p>
           <p>Não se preocupe! Compartilhe o app com pessoas e comerciantes da sua área e faça a festa!</p>
         
         </div>
  
       
          
        </ion-list-->  
  
  </ion-content>