ion-header{
  --background: linear-gradient(90deg, #ffc107 0%, #ffc10785 35%, #f7f3e1 100%);
  ion-grid{
    background: linear-gradient(90deg,#ffc107 0%,#ffc10785 35%, #ffc1072e 100%);
  }
  ion-toolbar, ion-item{
      --background:linear-gradient(90deg,rgba(255 193 7) 0%,rgba(255 193 7 / 52%) 35%, rgba(255 193 7 / 18%) 100%);
     // background:linear-gradient(90deg,#ffc107 0%,#ffc10785 35%, #ffc1072e 100%);
      //padding: 0 10px;
  }
  ion-toolbar{
      .bordered{
          --border-radius:10px;
          --box-shadow:5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF
      }
  }
  ion-item{
      h3{
          font-weight: 700;
          font-size: 14px;
      }
      p{
          font-weight: 500;
          font-size: 14px;
      }
      ion-avatar{
          --border-radius:40%
      }
  }
}
ion-content{
  --background: #f1f5f8;
  ion-card{
      width: 100%;
      padding: 14px;
      border-radius: 14px;
      box-shadow: none;
      background: rgba(255,255,255,.8);
      .main{
          width: 60px;
          height: 60px;
          border-radius: 50px;
          background: #FFFFFF;
          box-shadow: 7px 7px 20px #dbdfe2,
                  -7px -7px -20px #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
              width: 30px;
          }
      }
  }
  .slides{
      background:linear-gradient(90deg, #ffc107 0%, #ffc10785 35%, #fef3ce 100%);
      padding: 4px 10px 20px 10px;
      border-radius: 0 0 28px 28px;
  }

  .container{
      //padding: 6px 20px;
      color:black;
      ion-item{
          --background: rgb(255 255 255 / 67%);
          padding: 0;
          margin: 14px 0;
          --border-radius:14px;
          color: black;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          ion-label{
              padding:6px 0;
              h4{
                  font-weight: 600;
                  font-size:16px
              }
              h6{
                  color:lightslategray;
              }
          }
      }
  }
}
.button-card1{
	float: right;
    margin-top: -17%;
    margin-right: 2%;

}
.background-div2{
    height: 155px;
    float: right;
    width: 45%;
    min-width: 30px;
    background: linear-gradient(90deg, #ffc409 30%, #f4f5f8 100%);
    border-radius: 10px 13px 10px 150px;
    margin-top: -77%;
    margin-right: -5%;
    box-shadow: -10px -5px #f5f6f9;
    transform: rotate(-10deg);

}
.card-content-ios p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 14px;
  word-break: normal;
  overflow-wrap: anywhere;
}
card-content-ios p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 14px;
  word-break: normal;
  overflow-wrap: anywhere;
}
ion-button{
	--border-radius:9px;
	--box-shadow: none;
	text-transform: initial;
	font-size: 12px;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
   // background: #d3d3d32b;
  
    .card {
      display: inline-block;
      width:75%;
      height: 100%;
     // --background:transparent;
    }
  }
  .signup-button{
	--background: linear-gradient(90deg, #fbbf02 6%, rgb(255 196 9 / 49%) 100%);
    color: black;
}
.signin-button{
    --background: linear-gradient(90deg, #222428 6%, #383a3ed9 100%)
}
  .label-lojas{
    color: #ffc409;
    background: #1e2023;
    width: 50%;
    text-align: center;
    padding: 4%;
    box-shadow: 2px 2px lightgrey;
    font-size: large;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
