<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img style="padding: 0px;
      margin-left: 10%;" src="/assets/Picture1.png">

    </ion-avatar>
    <ion-buttons slot="end">
      <ion-button class="bordered" (click)="home()" fill="solid" color="light">
        <ion-icon color="dark" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
<ion-content>

<ion-card style="background-color: white !important; ">
    <ion-card-header>
      <ion-card-subtitle>
        Olá,
      </ion-card-subtitle>
      <ion-card-title style="margin: 0;">{{nome}}!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button  expand="block"  color="success" (click)="habilitar()"> Habilitar Notificações</ion-button>
      <ion-button  expand="block"  color="dark" (click)="sair()">Sair do App</ion-button>

    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="typeUser === 'Loja'" style="background-color: white !important; ">
    <h2>Filiais</h2>
    <ion-list>
      <ion-item *ngFor="let itens of unidadez">
        {{itens.endereco}},{{itens.estado}}
          <ion-button slot="end" (click)="pedirDele(itens)">Deletar</ion-button>
      </ion-item>
    </ion-list>
    <ion-button  expand="block" color="warning" (click)="addUni()" >Adicionar Filial</ion-button>

  </ion-card>
<ion-card  style="background-color: white !important; ">
    <ion-card-header>
      <ion-card-subtitle>
        Endereço de entrega
      </ion-card-subtitle>
      <ion-card-title>{{endereco}},{{complemento}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="margin-top: -10px;">  
     <p><i>{{bairro}}, CEP:{{CEP}}</i></p>
     <p><i>{{cidade}} - {{estado}}</i></p>
      <ion-button expand="block" (click)="updateEnd()" color="warning">  
        alterar
      </ion-button>

      <div [hidden]="hideMe">
        <h4 style="text-align: center;">Qual o novo endereço de entrega?</h4>
        <br/>
        <label style="color: red;">* Todos os campos obrigatórios</label>
        <br/>

        <p>Local de entrega</p>
             <ion-select required 
             style="color:black;border: 1px solid gainsboro; border-radius: 5px;"  okText="Ok" cancelText="Cancelar"  placeholder="Clique aqui" [(ngModel)]="type">
              <ion-select-option value="Casa / Apartamento">Casa / Apartamento</ion-select-option>
              <ion-select-option value="Escritório">Escritório</ion-select-option>
            </ion-select>
            <form [formGroup]="newCadastro" >
              <br/>
           
              <div class="email-div">
                  <label >Endereço</label>
                  <ion-input style="border: 1px solid #d7d8da;
                  border-radius: 5px;" formControlName="enderecoNew" [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" (ionClear)="ClearAutocomplete()" value="{{enderecoNew}}"></ion-input>
              </div>
              <ion-list [hidden]="autocompleteItems.length == 0 || hide">
                  <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
                          {{ item.description }}
                  </ion-item>
              </ion-list>
              <ion-grid style="padding: 0;">
                  <ion-row>
                      <ion-col>
                          <div class="email-div">
                              <label>Número</label>
                              <input formControlName="numeroENDNew" required/>
                          </div>
                      </ion-col>
                      <ion-col>
                          <div class="email-div">
                              <label>CEP</label>
                              <input formControlName="CEPNew" required/>
                          </div>
                      </ion-col>
                  </ion-row>
              </ion-grid>
                    <div class="email-div">
                        <label>Complemento</label>
                        <input formControlName="complemento" placeholder="Bloco, Apartamento ou Casa"
                            type="text"/>
                    </div>
                    <div class="email-div">
                        <label position="floating">Bairro</label>
                        <input formControlName="bairroNew" placeholder="{{bairroNew}}"value="{{bairroNew}}"
                           type="text"/>
                    </div>

              <ion-grid style="padding:0;">
                <ion-row>
                  <ion-col>
                  <label for="estado" class="estado">Estado</label>
                  <ion-select style="color:black;border: 1px solid gainsboro; border-radius: 5px;"  okText="Ok" cancelText="Cancelar" placeholder="Escolha o estado" formControlName="estadoNew" (ionChange)="city($event)" >
                    <ion-select-option *ngFor="let items of states?.estados" value="{{items.sigla}}"  >{{items.sigla}}</ion-select-option>
                  </ion-select>
                  <label *ngIf="estado === undefined || estado === ''" class="required">* Estado é obrigatório </label>
              
                  </ion-col>
                  <ion-col>
                  <label for="cidade" class="cidade">Cidade</label>
                  <ion-select  style="color:black;border: 1px solid gainsboro; border-radius: 5px;"   okText="Ok" cancelText="Cancelar" placeholder="Escolha a cidade" formControlName="cidadeNew"  >
                    <ion-select-option *ngFor="let items of cidades" value="{{items.nome}}"  >{{items.nome}}</ion-select-option>
                  </ion-select>
                  <label *ngIf="cidade === undefined || cidade === ''" class="required">* Cidade é obrigatório </label>
              
                  </ion-col>
                </ion-row>
                </ion-grid>
                            
           
             <ion-button expand="block" *ngIf="type" (click)="update()" color="success" slot="end">Atualizar</ion-button><br/>
           
           
             </form>
      </div>

</ion-card-content>
</ion-card>


</ion-content>
