
<ion-content [fullscreen]="true" style="text-align: center;">
<div class="background-div1">
      <img style="width:45%"src="/assets/Picture1.png">

</div>
<ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="home()">
      <ion-icon style="color:#ffc409" name="home-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-card style="background-color: white !important; ">
    <ion-card-header > <h3 text center>Olá, {{nome}}!</h3></ion-card-header>
    <ion-card-content>
      <h4>Suas Informações:</h4>
      <p>Email: {{email}}</p>
      <p>Endereço: {{endereco}}</p>
      <p>Bairro: {{bairro}}</p>
      <p>Cidade: {{cidade}}</p>
      <p>Zona: {{zona}}</p>
      <br/>
      <ion-button style="height: 4vh;" color="warning" (click)="sair()">Logout</ion-button>
      <ion-button style="height: 4vh;" color="warning" (click)="habilitar()"> Habilitar Notificações</ion-button>
      <br/>
      <ion-label *ngIf="typeUser === 'Loja'&& status === 'Online'">Loja Aberta!</ion-label>

      <ion-label *ngIf="typeUser === 'Loja' && status === 'Offline'">Loja Fechada!</ion-label>
      <ion-button color="success" *ngIf=" typeUser === 'Loja' && status === 'Offline'" expand="block" (click)="abrirLoja()">Abrir Loja</ion-button>
      <ion-button color="danger" *ngIf=" typeUser === 'Loja' && status === 'Online'" expand="block" (click)="fecharLoja()">Fechar Loja</ion-button>

    </ion-card-content>
  </ion-card>
<ion-card style="background-color: white !important; ">
    <ion-card-content>  
     <h4 style="color: gray"> <ion-icon name="paper-plane"></ion-icon> - {{endereco}}</h4>
     <p><i>{{bairro}}, CEP:{{CEP}}</i></p>
     <p><i>{{cidade}} - {{estado}}</i></p>
      <ion-button style="height: 4vh;" (click)="updateEnd()" color="warning">  
        alterar
      </ion-button>

      <div [hidden]="hideMe">
        <h4 style="text-align: center;">Qual o novo endereço de entrega?</h4>
        <br/>
             <ion-select placeholder="Sua região" required 
             style="border: 1px solid black;border-radius: 25px;padding: 10px;" [(ngModel)]="type">
              <ion-select-option value="Centro">Centro</ion-select-option>
              <ion-select-option value="Zona Oeste">Zona Oeste</ion-select-option>
              <ion-select-option value="Zona Norte">Zona Norte</ion-select-option>
              <ion-select-option value="Zona Sul">Zona Sul</ion-select-option>
              <ion-select-option value="Baixada">Baixada</ion-select-option>
            </ion-select>
            <form [formGroup]="newCadastro" >
              <br/>
           
           
               <ion-item>
                         <ion-label position="floating">Endereço</ion-label>
                         <ion-input formControlName="enderecoNew" 
						  [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" 
						  (ionClear)="ClearAutocomplete()" value="{{enderecoNew}}"></ion-input>
                         <!--ion-input formControlName="" type="text" required></ion-input-->
                       </ion-item>
                       <ion-list [hidden]="autocompleteItems.length == 0 || hide">
                        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
                          {{ item.description }}
                        </ion-item>
                        </ion-list>
                       <ion-grid>
                           <ion-row>
                               <ion-col>
                                   <ion-item>
                                 <ion-label position="floating">Número</ion-label>
                                 <ion-input formControlName="numeroENDNew" required></ion-input>
                             </ion-item>
           
                               </ion-col>
                               <ion-col>
                             <ion-item>
                               <ion-label position="floating">CEP</ion-label>
                                 <ion-input formControlName="CEPNew" required></ion-input>
                             </ion-item>
                               </ion-col>
                           </ion-row>
                         </ion-grid>
                       
           
                       <ion-item>
                         <ion-label position="floating">Bairro</ion-label>
                         <ion-input formControlName="bairroNew" placeholder="{{bairroNew}}"value="{{bairroNew}"
                           type="text"></ion-input>
                       </ion-item>
                       
           
           
                       <ion-grid>
                           <ion-row>
                               <ion-col>
                                   <ion-item>
                               <ion-label position="floating">Cidade</ion-label>
                               <ion-input placeholder="{{cidadeNew}}" value="{{cidadeNew}"  
                               formControlName="cidadeNew" type="text"></ion-input>
                             </ion-item>
           
                               </ion-col>
                               <ion-col>
                             <ion-item>
                               <ion-label position="floating">Estado</ion-label>
                               <ion-input value="RJ" disabled placeholder="RJ" formControlName="estadoNew" type="text"></ion-input>
                             </ion-item>
                               </ion-col>
                           </ion-row>
                         </ion-grid>
           
                 <ion-button  style="height: 4vh;" expand="block" *ngIf="type" (click)="update()" color="success" slot="end">Atualizar</ion-button><br/>
           
           
             </form>
      </div>

</ion-card-content>
</ion-card>
<ion-card *ngIf="typeUser === 'Loja'" style="background-color: white !important; ">
    <ion-card-content>  
     <h4 style="color: green"> <ion-icon name="cash"></ion-icon> - {{banco}}</h4>
     <p><i>Agência:{{agencia}} - Conta:{{conta}}</i></p>
     <p><i>Corrente ou Poupança? {{tipoConta}}</i></p>
     <p><i>CPF Conta: {{CPFconta}}</i></p>
      <ion-button style="height: 4vh;" (click)="updateBank()" color="warning">  
        alterar
      </ion-button>
  <form [formGroup]="newBanco" [hidden]="hideMe2">
   <br/>

    <h4 style="text-align: center;">Qual a nova conta bancária?</h4>
    <br/>
        <ion-select placeholder="Corrente ou Poupança" required  formControlName="tipoContaNew">
            <ion-select-option value="Corrente">Corrente</ion-select-option>
            <ion-select-option value="Poupanca">Poupança</ion-select-option>
        </ion-select>
            <ion-item>
              <ion-label position="floating">Banco</ion-label>
              <ion-input formControlName="bancoNew" type="text" required></ion-input>
            </ion-item>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                      <ion-label position="floating">Agência</ion-label>
                      <ion-input formControlName="agenciaNew" required></ion-input>
                  </ion-item>

                    </ion-col>
                    <ion-col>
                  <ion-item>
                    <ion-label position="floating">Conta com o digito</ion-label>
                      <ion-input formControlName="contaNew" required></ion-input>
                  </ion-item>
                    </ion-col>
                </ion-row>
              </ion-grid>
            

            <ion-item>
              <ion-label position="floating">Nome na Conta</ion-label>
              <ion-input formControlName="nomeContaNew" required type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">CPF/CNPJ da Conta</ion-label>
              <ion-input formControlName="CPFcontaNew" required type="text"></ion-input>
            </ion-item>           


           
      <ion-button  style="height: 4vh;" (click)="updateBanco()" color="success" slot="end">Atualizar</ion-button><br/>


  </form>
</ion-card-content>

</ion-card >

<ion-card *ngIf="typeUser === 'Loja'" style="background-color: white !important; ">
  <ion-card-content>  
   <p><i>Horário de Entrega:{{entrega}}</i></p>
   <p><i>Se ultrapassar esse horário: {{seNao}}</i></p>
    <ion-button style="height: 4vh;" (click)="updateEntrega()" color="warning">  
      alterar
    </ion-button>
<form [formGroup]="newEntrega" [hidden]="hideMe3">
 <br/>

  <h4 style="text-align: center;">Quais são os seus horários?</h4>
  <br/>

          <ion-grid>
              <ion-row>
                  <ion-col>
                      <ion-item>
                    <ion-label position="floating">Horário de entrega</ion-label>
                    <ion-input formControlName="entregas" required></ion-input>
                </ion-item>

                  </ion-col>
                  <ion-col>
                <ion-item>
                  <ion-label position="floating">Se ultrapassar esse horário</ion-label>
                    <ion-input formControlName="senaoEntregas" required></ion-input>
                </ion-item>
                  </ion-col>
              </ion-row>
            </ion-grid>
          
         
    <ion-button  style="height: 4vh;" (click)="entregaz()" color="success" slot="end">Atualizar</ion-button><br/>


</form>
</ion-card-content>
</ion-card>

  <ion-list *ngIf="typeUser === 'Loja'" >
    <h3 text center>Seus produtos no App!</h3>
    <ion-item *ngFor="let items of goalListFiltrado">
      <ion-thumbnail slot="start">
        <img  *ngIf="items.fotos.length != 0" src="{{items.fotos[0].link}}">
        <img  *ngIf="items.fotos.length === 0" src="/assets/Picture1.png">
      </ion-thumbnail>
      <ion-label>
        <h2>{{items.nome}}</h2>
        <p>R${{items.valor}}</p>
        <p>Quantidade:{{items.quantity}}</p>
        <p style="background: #ffc409;
        padding: 5px;
        text-align: center;
        border-radius: 25px;
        color: black;">{{items.tipoPrd}}</p>
      </ion-label>
      <ion-button slot="end" color="primary" [routerLink]="['/editar/' + items.id]" >Editar</ion-button>
      <ion-button (click)="deletarItem(items)" color="danger" slot="end">x</ion-button><br/>
      </ion-item>

</ion-list>
</ion-content>
