
<ion-content>
	<div class="background-div1">
		<ion-icon class="arrow" name="arrow-back" (click)="voltar()"></ion-icon>

 		<h1 style="text-align: center;"> {{venda?.nomeComprador}}</h1>
 		 <p style="text-align: center;">{{venda?.nPedido}}</p>

	</div>
  <ion-card style="text-align: center;" >
    <ion-card-header>

    </ion-card-header>


        <img style="max-width: 50%; margin: auto" src="./assets/entregador-transparente.png">



    <ion-card-content>
      <h4 text-center style="color: black"> Status da entrega: </h4>
      <p text-center> {{venda?.statusEnt}}</p>
      <h4 text-center style="color:black"> Endereço da entrega:</h4>
      <p>{{venda?.endereco}}</p>
      <ion-item style="border-radius: 25px; border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px rgba(128, 128, 128, 0.4);">
        <ion-icon slot="start" style="color: green" name="cash"></ion-icon>
        <p slot="end">{{venda?.statusPag}}</p>
      </ion-item>

     
      <ion-label  *ngIf="typeUser === 'Loja'">
        <h2 style="    margin-top: 10%;">Altere o status do pedido</h2>
        <ion-select style="border: 1px solid black;
        margin-top: 5% !important;
        border-radius: 10px;
        padding: 10px;
        color: black;"
                    placeholder="Altere o status da entrega" [(ngModel)]="statusEnt">
          <ion-select-option value="Preparando Entrega">Preparando Entrega</ion-select-option>
          <ion-select-option value="Saiu para Entrega">Saiu para Entrega</ion-select-option>
          <ion-select-option value="Entregue">Entregue</ion-select-option>

        </ion-select>
        <ion-button fill="solid" color="warning" (click)="save()">Salvar</ion-button>
      </ion-label>
    </ion-card-content>


  </ion-card>

      <ion-list>
      <ion-item  *ngFor="let items of venda?.produtos">
         <ion-avatar slot="start">
          <img  *ngIf="items.fotos.length != 0" src="{{items.fotos}}">
          <img  *ngIf="items.fotos.length === 0" src="/assets/Picture1.png">
        </ion-avatar>
        <ion-label>
          {{items.nome}}
          <p>R${{items.valor}}</p>
          <p *ngIf="items.especi !=' ' "><b>Tipo:</b> {{items.especi}}</p>
          <p><b>Quantidade:</b> {{items.quantity}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
