*{
	font-weight: 300;
}
.background-div1{
	background: linear-gradient(145deg, #ffcb0254 40%, #ffc409 100%);
    height: 235px;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.arrow{
	color: black;
    width: 14%;
    height: 12%;
    margin-top: 5%;
   // float: left;
}