<ion-content [fullscreen]="true"  >
<div class="background-div1">
    <ion-icon class="arrow" (click)="voltar()"name="arrow-back"></ion-icon>
		<div>	

     	 <img style="width:30%"src="/assets/Picture1.png"/>
    		<h1  style="text-align: center;">Compre e venda agora!</h1>
    		<p  style="text-align: center;"><i>Com o processo de registro no nosso app, você consegue rapidamente ter seus produtos anunciados e aproveitar pra fazer aquela comprinha!</i></p>
	
				
		</div>

</div>

<div class="background-traco"  style="text-align: center;    margin-top: 8%;">

<p style="text-align-last: center;">Escolha o tipo de usuario entrar como:</p>
				<ion-select placeholder="Tipo de Usuario" style="border: 1px solid #d7d8da;
				padding: 13px;" [(ngModel)]="typeUser" required>
					<ion-select-option value="Loja">Loja</ion-select-option>
					<ion-select-option value="user">Usúario</ion-select-option>
				</ion-select>
				<br/>
				<p style="text-align-last: center;">Qual a sua região?</p>

				<ion-select placeholder="Sua região" style="border: 1px solid #d7d8da;
				padding: 13px;" required  [(ngModel)]="type">
					<ion-select-option value="Centro">Centro</ion-select-option>
					<ion-select-option value="Zona Oeste">Zona Oeste</ion-select-option>
					<ion-select-option value="Zona Norte">Zona Norte</ion-select-option>
					<ion-select-option value="Zona Sul">Zona Sul</ion-select-option>
					<ion-select-option value="Baixada">Baixada</ion-select-option>
				</ion-select>


			<form [formGroup]="cadastro" (ngSubmit)="logForm()">	
					<ion-item>
		 
					  <ion-label position="floating">E-mail</ion-label>
					  <ion-input type="text" formControlName="email" required ></ion-input>
					</ion-item>

					<ion-item>
					  <ion-label position="floating"> 
					  	Senha
					  </ion-label>
					  <ion-input formControlName="password" type="password" required ></ion-input>
					</ion-item>
						<ion-item *ngIf="typeUser === 'Loja'">
							<ion-label position="floating">Nome da sua Loja</ion-label>
							<ion-input formControlName="nome" ></ion-input>
						</ion-item>
						<ion-item *ngIf="typeUser === 'user'" >
						  <ion-label position="floating">Seu nome</ion-label>
						  <ion-input formControlName="nome" ></ion-input>
						</ion-item>
						<!--ion-item *ngIf="typeUser === 'user'" >
							<ion-label position="floating"> Data de Nascimento</ion-label>

						   <ion-datetime
		    						[dayShortNames]="customDayShortNames"
		    						displayFormat="DD MMM, YYYY"
		    						monthShortNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" formControlName="DOB" placeholder="Clique aqui" required></ion-datetime>

						</ion-item>
						<ion-item *ngIf="typeUser === 'Loja'" >
							<ion-label position="floating"> Data de criação</ion-label>

						   <ion-datetime
		    						[dayShortNames]="customDayShortNames"
		    						displayFormat="DD MMM, YYYY"
		    						monthShortNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" formControlName="DOB" placeholder="Clique aqui" required></ion-datetime>

						</ion-item-->
						<ion-item *ngIf="typeUser === 'Loja'" >
							<ion-label position="floating">Entrega de:</ion-label>
						  <ion-input formControlName="entregaDe" ></ion-input>
						</ion-item>
						<ion-item *ngIf="typeUser === 'Loja'" >
							<ion-label position="floating">Se ultrapassar o horário, entrega quando?</ion-label>
						  <ion-input formControlName="seNEntrega" ></ion-input>
						</ion-item>
						<ion-item *ngIf="typeUser === 'Loja'">
							<ion-label position="floating">CNPJ</ion-label>
							<ion-input maxLenght="40" [brmasker]="{person: true}"
							 formControlName="CPF"  type="text"></ion-input>
						</ion-item>
						<ion-item *ngIf="typeUser === 'user'" >
						  <ion-label position="floating">CPF</ion-label>
						  <ion-input formControlName="CPF" [brmasker]="{person: true}" ></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label position="floating">Endereço</ion-label>
						  <ion-input formControlName="endereco" 
						  [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" 
						  (ionClear)="ClearAutocomplete()" value="{{endereco}}"></ion-input>
						  <!--ion-input formControlName="endereco" type="text" required></ion-input-->
						</ion-item>
						<ion-list [hidden]="autocompleteItems.length == 0 || hide">
							<ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
							  {{ item.description }}
							</ion-item>
						  </ion-list>
						<ion-grid>
					      <ion-row>
					          <ion-col>
					             	<ion-item>
						  				<ion-label position="floating">Número</ion-label>
						  				<ion-input formControlName="numeroEND" ></ion-input>
									</ion-item>

					          </ion-col>
					          <ion-col>
									<ion-item>
						 				<ion-label position="floating">CEP</ion-label>
						  				<ion-input formControlName="CEP" ></ion-input>
									</ion-item>
					          </ion-col>
					      </ion-row>
					    </ion-grid>
						

						<ion-item>
						  <ion-label position="floating">Bairro</ion-label>
						  <ion-input formControlName="bairro" placeholder="{{bairro}}" value="{{bairro}}"  type="text"></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label position="floating">Complemento</ion-label>
						  <ion-input formControlName="complemento"  type="text"></ion-input>
						</ion-item>
						<p>No momento, estamos trabalhando somente no Rio de Janeiro!</p>
						<p>Quer ter o Axé Delivery na sua cidade? <a href='https://forms.gle/Sty9ffR1t3VeaFEg8'>Clique aqui!</a></p>
						<ion-grid>
					      <ion-row>
					          <ion-col>
					             	<ion-item>
									  <ion-label position="floating">Cidade</ion-label>
									  <ion-input required formControlName="cidade" placeholder="{{cidade}}" value="{{cidade}}"  type="text"></ion-input>
									</ion-item>

					          </ion-col>
					          <ion-col>
									<ion-item>
									  <ion-label position="floating">Estado</ion-label>
									  <ion-input placeholder="RJ"  type="text" disabled></ion-input>
									</ion-item>
					          </ion-col>
					      </ion-row>
					    </ion-grid>
					    <ion-grid>
					    	<ion-row>
					    		<ion-col>
									<ion-item>
						  				<ion-label position="floating">DDD</ion-label>
						  				<ion-input formControlName="ddd"  type="text"></ion-input>
									</ion-item>							    			
					    		</ion-col>
					    		<ion-col>
									<ion-item>
						  				<ion-label position="floating">Telefone</ion-label>
						  				<ion-input formControlName="telefone"  type="text"></ion-input>
									</ion-item>					    			
					    		</ion-col>
					    	</ion-row>
					    </ion-grid>
						<ion-item *ngIf="typeUser === 'Loja'">
							<ion-label position="floating">Descrição</ion-label>
							<ion-input maxLenght="40" formControlName="resumo"  type="text"></ion-input>
						</ion-item>
<div *ngIf="typeUser === 'Loja'">						
		<h3 style="text-align-last: center ">Informações bancárias</h3>
				<ion-select placeholder="Corrente ou Poupança"  formControlName="correnteoupou">
					<ion-select-option value="Corrente">Corrente</ion-select-option>
					<ion-select-option value="Poupanca">Poupança</ion-select-option>
				</ion-select>
				
						<ion-item>
						  <ion-label position="floating">Banco</ion-label>
						  <ion-input formControlName="banco"  type="text"></ion-input>
						</ion-item>
						<ion-item>
						  <ion-label position="floating">Nome na conta</ion-label>
						  <ion-input formControlName="nomeNaConta"  type="text"></ion-input>
						</ion-item>	
						<ion-item>
						  <ion-label position="floating">CPF/CNPJ da conta</ion-label>
						  <ion-input formControlName="CPFconta" maxLenght="40" [brmasker]="{person: true}"  type="text"></ion-input>
						</ion-item>								
						<ion-grid>
					      <ion-row>
					          <ion-col>
					             	<ion-item>
						  				<ion-label position="floating">Agência</ion-label>
						  				<ion-input formControlName="agencia" ></ion-input>
									</ion-item>

					          </ion-col>
					          <ion-col>
									<ion-item>
						 				<ion-label position="floating">Conta com o digito</ion-label>
						  				<ion-input formControlName="conta" ></ion-input>
									</ion-item>
					          </ion-col>
					      </ion-row>
					    </ion-grid>
</div>

			</form>
			<div *ngIf="typeUser === 'Loja'">
				<p> Escolha a foto do seu perfil!</p>
				<p>Porcentagem da foto: {{uploadPercent | async}}% </p>
				<ion-button shape="outline" (click)="photo()" color="findme" ><ion-icon name="camera"></ion-icon>	</ion-button>

			</div>	
				<!-- <img src="{{img.src}}"> -->
<br/>
<ion-button color="white" style="color:black;"(click)="politica()">Politica de Privacidade</ion-button> 
		<ion-item>
			<ion-label>Confirmo que li e concordo com os termos.</ion-label>
			<ion-checkbox [(ngModel)]="check"></ion-checkbox>

		</ion-item>		
		
				<ion-label *ngIf="typeUser && type && check">
					<ion-button (click)="registrar()" expand="block" class="signin-button" style="color:white !important;" >
						 Confirmar
					</ion-button>
				</ion-label>

</div>

</ion-content>
