<ion-header class="ion-no-border">
	<ion-toolbar>
	  <!--ion-buttons slot="start">
		<ion-back-button></ion-back-button>
	  </ion-buttons-->
  
  
	</ion-toolbar>
  </ion-header>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
	<ion-fab-button color="dark" (click)="voltar()"  [hidden]="started">
	  <ion-icon  name="arrow-back-outline"></ion-icon>
	</ion-fab-button>
	<ion-fab-button color="dark" (click)="iniciar()"  [hidden]="primeiraDiv">
	  <ion-icon  name="arrow-back-outline"></ion-icon> 
	</ion-fab-button>
	<ion-fab-button color="dark" (click)="primeiroPasso()"  [hidden]="segundaDiv">
	  <ion-icon  name="arrow-back-outline"></ion-icon> 1
	</ion-fab-button>
	<ion-fab-button color="dark" (click)="segundoPasso()"  [hidden]="terceiraDiv">
	  <ion-icon  name="arrow-back-outline"></ion-icon> 2
	</ion-fab-button>
	<ion-fab-button color="dark" (click)="terceiroPasso()"  [hidden]="quartaDiv">
	  <ion-icon  name="arrow-back-outline"></ion-icon> 3
	</ion-fab-button>
  </ion-fab>
  <ion-content>
	<div [hidden]="started" class="header-page">
	  <h4>Vamos iniciar o seu cadastro...</h4>
	  <p>São 4 passos para finalizar o cadastro!</p>
	  <ion-button expand="block" (click)="primeiroPasso()" color="warning">Começar</ion-button>
	</div>
	<div [hidden]="primeiraDiv" class="primeira-div">
	  <div class="header-primeira">
		<h4>
		  Primeiro passo...
		</h4>
	  </div>
	  <div class="email-div">
		<label for="email" class="email">E-mail</label>
		<input type="email" [(ngModel)]="email" placeholder="Digite aqui o seu e-mail..." class="emailInput">
		<label *ngIf="email === undefined || email === ''" class="required">* E-mail é obrigatório </label>
	  </div>
	  <div class="senha-div">
		<label for="password" class="password">Senha</label>
		<input type="password" [(ngModel)]="password"  placeholder="Digite aqui a sua senha..." class="senhaInput">
		<label *ngIf="password === undefined || password === ''" class="required">* Senha é obrigatório </label>
	  </div>
	  <ion-button expand="block" (click)="authenticacao()" color="warning">Próximo</ion-button>
  
	</div>
	<div [hidden]="segundaDiv" class="segunda-div">
	  <div class="header-segunda">
		<h4>
		  Segundo passo...
		</h4>
		<p>Seus dados</p>
	  </div>
   
	  <div class="input-div">
		<label for="nome" class="nome">Nome Completo</label>
		<input type="text" [(ngModel)]="nome" placeholder="Digite aqui o seu Nome completo..." class="emailInput">
		<label *ngIf="nome === undefined || nome === ''" class="required">* Nome do responsavél é obrigatório </label>
	  </div>
	  <div class="input-div">
		<label for="nome" class="cpf">CPF</label>
		<input  maxlength="40" [brmasker]="{person: true}" [(ngModel)]="CPF"  placeholder="Preencha aqui o CPF do responsável..." class="emailInput">
		<label *ngIf="CPF === undefined || CPF === ''" class="required">* CPF é obrigatório </label>
	  </div>
  
	  <ion-button expand="block" (click)="terceiroPasso()" color="warning">Próximo</ion-button>
  
	</div>
	<div [hidden]="terceiraDiv" class="terceira-div">
	  <div class="header-terceira">
		<h4>
		  Terceiro, quase lá...
		</h4>
	  </div>
	  <ion-grid>
		<ion-row>
		  <ion-col>
			<div class="input-div">
			  <label for="ddd" class="ddd">DDD</label>
			  <input type="text" [(ngModel)]="ddd" mask="00" maxlength="2"  placeholder="Digite aqui o ddd da loja..." class="senhaInput">
			  <label *ngIf="ddd === undefined || ddd === ''" class="required">* DDD é obrigatório </label>
			</div>
		  </ion-col>
		  <ion-col>
			<div class="input-div">
			  <label for="telefone" class="telefone">Whatsapp/Telefone</label>
			  <input type="text" [(ngModel)]="telefone" mask="00000-0000"  placeholder="Digite aqui o telefone da loja..." class="senhaInput">
			  <label *ngIf="telefone === undefined || telefone === ''" class="required">* Telefone é obrigatório </label>
			</div>
		  </ion-col>
		</ion-row>
	  </ion-grid>
  
	  <div class="input-div">
		<label for="endereco" class="endereco">Endereço</label>
		<input type="text"
		[(ngModel)]="autocomplete.input" (keyup)="UpdateSearchResults($event)" 
		placeholder="Digite aqui o endereço..." value="{{endereco}}" class="emailInput">
		<label *ngIf="endereco === undefined || endereco === ''" class="required">* Endereço é obrigatório </label>
		<ion-list [hidden]="autocompleteItems.length == 0 || hide">
		  <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
			{{ item.description }}
		  </ion-item>
		</ion-list>
	  </div>
	  <div class="input-div">
		<label for="numeroEND" class="numeroEND">Número</label>
		<input type="number" [(ngModel)]="numeroEND"  placeholder="Digite aqui o Número..." class="senhaInput">
		<label *ngIf="numeroEND === undefined || numeroEND === ''" class="required">* Número é obrigatório </label>
  
	  </div>
	  <div class="input-div">
		<label for="complemento" class="complemento">Complemento</label>
		<input type="text" [(ngModel)]="complemento" placeholder="Digite aqui o Complemento..." class="senhaInput">
		<label *ngIf="complemento === undefined || complemento === ''" class="required">* Complemento é obrigatório </label>
  
	  </div>
	  <ion-grid style="padding: 0 0 0 0;">
		<ion-row>
		  <ion-col>
			<div class="input-div">
			  <label for="bairro" class="bairro">Bairro</label>
			  <input type="text" [(ngModel)]="bairro"   placeholder="Digite aqui o Bairro..." class="senhaInput">
			  <label *ngIf="bairro === undefined || bairro === ''" class="required">* Bairro é obrigatório </label>
  
			</div>
		  </ion-col>
		  <ion-col>
			<div class="input-div">
			  <label for="CEP" class="CEP">CEP</label>
			  <input type="text" [(ngModel)]="CEP" maxlength="9" mask="00000-000"  placeholder="Digite aqui o CEP..." id="CEP" class="senhaInput">
			  <label *ngIf="CEP === undefined || CEP === ''" class="required">* CEP é obrigatório </label>
  
			</div>
		  </ion-col>
		</ion-row>
	  </ion-grid>
	  <ion-grid style="padding: 0 0 0 0;">
		<ion-row>
		  <ion-col>
			<label for="estado" class="estado">Estado</label>
			<ion-select okText="Ok" cancelText="Cancelar" placeholder="Escolha o estado" [(ngModel)]="estado" (ionChange)="city($event)" >
			  <ion-select-option *ngFor="let items of states?.estados" value="{{items.sigla}}"  >{{items.sigla}}</ion-select-option>
			</ion-select>
			<label *ngIf="estado === undefined || estado === ''" class="required">* Estado é obrigatório </label>
  
		  </ion-col>
		  <ion-col>
			<label for="cidade" class="cidade">Cidade</label>
			<ion-select   okText="Ok" cancelText="Cancelar" placeholder="Escolha a cidade" [(ngModel)]="cidade" >
			  <ion-select-option *ngFor="let items of cidades" value="{{items.nome}}"  >{{items.nome}}</ion-select-option>
			</ion-select>
			<label *ngIf="cidade === undefined || cidade === ''" class="required">* Cidade é obrigatório </label>
  
		  </ion-col>
		</ion-row>
	  </ion-grid>
  
	  <ion-button expand="block" (click)="checklistUsuario()" color="warning">Próximo</ion-button>
  
	</div>
	<div [hidden]="quartaDiv" class="quarta-div">
	  <div class="header-quarta">
		<h4>
		  Finalizado! Antes de continuar, habilite as notificações!
		</h4>
	  </div>
	  <ion-button expand="block" (click)="habilitar()">Habilitar notificações</ion-button>
	  <ion-button color="white" expand="block"  fill="clear" style="text-align:center; color:black;"(click)="politica()">Politica de Privacidade</ion-button> 
		  <ion-item>
			  <ion-label>Confirmo que li e concordo com os termos.</ion-label>
			  <ion-checkbox [(ngModel)]="check"></ion-checkbox>
		  </ion-item>
		  
	  <ion-button expand="block" (click)="finalizar()" [hidden]="aprovado" color="warning">Finalizar Cadastro</ion-button>
  
	</div>

  </ion-content>
  <ion-footer class="ion-no-border">
  <ion-button expand="block" fill="outline" color="success"> 
	<ion-icon name="logo-whatsapp"></ion-icon>
	Dúvidas? Clique aqui!     
  </ion-button>
	
  </ion-footer>